body {
    padding-top: 55px;
}

/* Fixes link jumps to cards by the height of fixed navbar */
:target {
    padding-top: 71px;
    margin-top: -71px;
}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 55px; /* Height of navbar */
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 400;
    color: #333;
    font-size: 1rem;
    margin-left: 10px;
}

.sidebar .nav-link:hover {
    font-weight: 600;
}

.content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.nav-icon {
    height: 1.4rem;
}

.card-header {
    font-size: 1.4rem;
}

.card-subtitle {
    font-size: 1.3rem;
}

.paper-title {
    font-size: 1.6rem;
}

.card-text {
    font-size: 1.2rem;
}

.stats-number {
    font-size: 2.5rem;
}

.info {
    font-size: 1rem;
}