body {
    padding-top: 65px;
}

/* Fixes jumps to cards */
:target {
  padding-top: 75px;
  margin-top: -75px;
}

footer {
    margin: 20px;
    font-size: 11pt;
    text-align: center;
    color: #777;
}

footer a {
    color: #777;
}
