footer {
    margin: 20px;
    font-size: 11pt;
    text-align: center;
    color: #777;
}

footer a {
    color: #777;
}

span.error-message {
    white-space: pre-line;
}

.content {
    margin-top: 10px;
}

.inline {
    display: inline;
}

.link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.link-button:focus {
    outline: none;
}