{% extends 'admin/master.html' %}
{% block head %}
{{ super() }}

{% endblock head %}
{% block body %}
{{ super() }}

<h3>Messages</h3>
<table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Message</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    {% for t, m, e in messages %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ t }}</td>
        <td>{{ m }}</td>
        <td>{{ e }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<small class="form-text text-muted">{{recent}} recent.</small>

<h3>Recent emotions</h3>
<table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Query</th>
    </tr>
    </thead>
    <tbody>
    {% for k, v, q in emotions %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ k }}</td>
        <td>{{ v }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<small class="form-text text-muted">{{recent}} recent.</small>

<h3>Emotions summary</h3>
<table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Count</th>
    </tr>
    </thead>
    <tbody>
    {% for k, v, c in emotions_summary %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ k }}</td>
        <td>{{ v }}</td>
        <td>{{ c }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock body %}
