{% extends 'admin/master.html' %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block body %}
    {{ super() }}

    <h3>Emotions summary</h3>
    <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Average</th>
            <th scope="col">Count</th>
        </tr>
        </thead>
        <tbody>
        {% for k, a, c in emotions_summary %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ k }}</td>
                <td>{{ a }}</td>
                <td>{{ c }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Recent emotions</h3>
    <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th scope="col">Query</th>
        </tr>
        </thead>
        <tbody>
        {% for d, k, v, q in emotions %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ d }}</td>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
                <td>{{ q }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <small class="form-text text-muted">{{ recent }} recent.</small>

{% endblock body %}
