{% extends 'admin/master.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='text_utils.js') }}"></script>
    <!--<script src="../../static/text_utils.js"/>-->
    <script src="{{ url_for('static', filename='wordcloud.js') }}"></script>
    <!--<script src="../../static/wordcloud.js"/>-->

    {% if word_cloud is defined %}
        <script>
            "use strict";
            $(document).ready(function () {
                let word_cloud = JSON.parse(normalize('{{ word_cloud }}'));
                process_word_cloud('word_cloud', $('#word_cloud').outerWidth(), 600, word_cloud, null);
            });
        </script>
    {% endif %}
{% endblock head %}

{% block body %}
    {{ super() }}
    <h3>Terms searches</h3>
    Total: {{ terms_searches_total }}<br>
    Successful: {{ terms_searches_successful }}<br>
    Average duration: {{ terms_searches_avg_duration }}<br>
    Papers clicked: {{ searches_papers_clicks }}<br>
    Papers list shown: {{ searches_papers_list_shown }}<br>
    Graph shown: {{ searches_graph_shown }}<br>
    Review shown: {{ searches_review_shown }}<br>

    {% if terms_searches_total > 0 %}
        {% for script, div in terms_searches_plot %}
            {{ script|safe }}
            {{ div|safe }}
        {% endfor %}
    {% endif %}

    <h3>Paper searches</h3>
    Total: {{ paper_searches_total }}<br>
    Successful: {{ paper_searches_successful }}<br>
    Average duration: {{ paper_searches_avg_duration }}

    {% if paper_searches_total > 0 %}
        {% for script, div in paper_searches_plot %}
            {{ script|safe }}
            {{ div|safe }}
        {% endfor %}

        {% if word_cloud is defined %}
            <h3>Word cloud</h3>
            <canvas id="word_cloud" style="border:1px solid #eee; width: 100%; height: 100%;">
                Canvas is not supported in your browser.
            </canvas>
        {% endif %}

        <h3>Recent searches</h3>
        <table class="table table-sm table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Source</th>
                <th scope="col">Search</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
                <th scope="col">Papers Clicks</th>
                <th scope="col">Papers List</th>
                <th scope="col">Graph</th>
            </tr>
            </thead>
            <tbody>
            {% for date, source, query, link, duration, status, papers_clicks, papers_list, graph in terms_searches_recent %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ date }}</td>
                    <td>{{ source }}</td>
                    <td>
                        <a class="link" href="{{ link }}">{{ query }}</a>
                    </td>
                    <td>{{ duration }}</td>
                    <td>{{ status }}</td>
                    <td>{{ papers_clicks }}</td>
                    <td>{{ papers_list }}</td>
                    <td>{{ graph }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table><small class="form-text text-muted">{{ recent }} recent.</small>


        <h3>Recent papers</h3>
        <table class="table table-sm table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Source</th>
                <th scope="col">Search</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for data, source, query, link, duration, status in paper_searches_recent %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ data }}</td>
                    <td>{{ source }}</td>
                    <td>
                        <a class="link" href="{{ link }}">{{ query }}</a>
                    </td>
                    <td>{{ duration }}</td>
                    <td>{{ status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table><small class="text-muted">{{ recent }} recent.</small>

    {% endif %}

{% endblock body %}
