{% macro render_field_with_errors(field) %}

    <div class="mb-3">
        {{ field.label(class_='form-label') }} {{ field(class_='form-control', **kwargs)|safe }}
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_field(field) %}
    <div class="mb-3">
        {{ field(class_='form-control', **kwargs)|safe }}
    </div>
{% endmacro %}

{% macro render_checkbox_field(field) -%}
    <div class="mb-3">
        <div class="form-check">
            {{ field(type='checkbox', class_='form-check-input', **kwargs) }}
            {{ field.label(class_='form-check-label') }}
        </div>
    </div>
{%- endmacro %}