<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="filename">${sys:user.home}/.pubtrends/log.txt</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %C{1} %-5level %msg%n"/>
        </Console>

        <File name="FILE" fileName="${filename}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %C{1} %-5level %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>