<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - {{query}} at {{source}} {{limit}} {{sort}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://unpkg.com/numeric/numeric-1.2.6.js"></script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-layout-utilities/cytoscape-layout-utilities.js"></script>
    <script src="{{ url_for('static', filename='cytoscape-fcose.js') }}"></script>

    <!-- Tippy.js-->
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css"/>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/style.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/result.css"/> -->
    <script>
        "use strict";

        const LAYOUT = {
            name: 'fcose',
            animationEasing: 'ease-out',
            animate: true,
            randomize: true,
            packComponents: true,
        };

        const CG_EDGE_STYLE = {
            "width": 1,
            "curve-style": "bezier",
            "target-arrow-shape": "triangle",
            "arrow-scale": 1
        };

        const PR_EDGE_STYLE = {
            "width": function (edge) {
                return Math.max(1, Math.min(10, edge.data().weight / 10));
            },
            "curve-style": "haystack",
        };

        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        function reset() {
            window.cy.layout(LAYOUT).run();
        }

        function showSubtopics(){
            cy.nodes().forEach(function(ele){
                if ('title' in ele.data()){
                    ele.classes('subtopic');
                }
            });
            reset();
        }

        function showYear(){
            cy.nodes().forEach(function(ele){
                if ('title' in ele.data()){
                    ele.classes('year');
                }
            });
            reset();
        }


        $(document).ready(function () {
            document.getElementById('cy').innerHTML = "";
            const citation_graph = {{ citation_graph }};
            const subtopics_palette = JSON.parse({{ subtopics_palette_json | tojson }});
            const min_year = {{min_year}};
            const max_year = {{max_year}};
            let edge_style;
            if (citation_graph) {
                edge_style = CG_EDGE_STYLE;
            } else {
                edge_style = PR_EDGE_STYLE;
            }
            const elements = JSON.parse({{ graph_cytoscape_json | tojson }});
            let cy = window.cy = cytoscape({
                container: document.getElementById('cy'),
                layout: LAYOUT,
                style: [
                    {
                        selector: "node",
                        style: {
                            "width": 10,
                            "height": 10,
                            "border-width": 1,
                            "border-color": "black",
                        }
                    },
                    {
                        selector: "node.subtopic",
                        style: {
                            "width": function (node) {
                                return 10 + 4 * Math.min(5, Math.floor(Math.log1p(node.data().cited)));
                            },
                            "height": function (node) {
                                return 10 + 4 * Math.min(5, Math.floor(Math.log1p(node.data().cited)));
                            },
                            "background-color": function (node) {
                                return subtopics_palette[node.data().comp - 1];
                            },
                        }
                    },
                    {
                        selector: "node.year",
                        style: {
                            "width": function (node) {
                                const dy = (node.data().year - min_year) / (max_year - min_year);
                                return 10 + Math.floor(20 * dy);
                            },
                            "height": function (node) {
                                const dy = (node.data().year - min_year) / (max_year - min_year);
                                return 10 + Math.floor(20 * dy);
                            },
                            "background-color": function (node) {
                                const dy = (node.data().year - min_year) / (max_year - min_year);
                                if (dy < 0.5) {
                                    return '#000000';
                                }
                                return rgbToHex(0, Math.floor(255 * 2 * (dy - 0.5)), 0);
                            },
                        }
                    },
                    {
                        selector: "node.group",
                        style: {
                            "background-opacity": 0.1,
                            "background-color": "#9b9b9b"
                        }
                    },
                    {
                        selector: "edge",
                        style: edge_style
                    },
                ],
                elements: elements
            });

            function makePopper(ele) {
                let ref = ele.popperRef(); // used only for positioning

                ele.tippy = tippy(ref, { // tippy options:
                    content: () => {
                        let content = document.createElement('div');
                        let data = ele.data();
                        if ('weight' in data) {
                            // Edge
                            content.innerHTML = "<b>Similarity</b> " + data['weight'] + "<br>";
                        } else if('title' in data) {
                            // Paper
                            content.innerHTML = "<b>" + data['title'] + "</b><br>" +
                                "<b>Author(s)</b> " + data['authors'] + "<br>" +
                                "<b>Year</b> " + data['year'] + "<br>" +
                                "<b>Cited</b> " + data['cited'] + "<br>" +
                                "<b>Topic</b> " + data['comp'];
                        } else if ('comp' in data) {
                            // Group
                            content.innerHTML = "Topic: " + data['comp'] + "<br>" +
                                "These are the papers assigned to subtopics by text similarity.";
                        }
                        return content;
                    },
                    trigger: 'manual' // probably want manual mode
                });
            }
            cy.nodes().forEach(function(ele){
                if ('title' in ele.data()){
                    ele.classes('subtopic')
                }
            });

            cy.ready(function () {
                let popperElements;

                if (citation_graph) {
                    popperElements = cy.nodes();
                } else {
                    popperElements = cy.elements();
                }
                popperElements.forEach(function (ele) {
                    makePopper(ele);
                });

                popperElements.unbind('mouseover');
                popperElements.bind('mouseover', (event) => event.target.tippy.show());

                popperElements.unbind('mouseout');
                popperElements.bind('mouseout', (event) => event.target.tippy.hide());

                cy.nodes().on('click', function(event){
                    let data = event.target.data();
                    if ('title' in data) {
                        event.stopPropagation();
                        // Decode jobid from URL
                        const jobid = new URL(window.location).searchParams.get('jobid');
                        window.open('/paper?source={{source}}&id=' + data['id'] + '&jobid=' + jobid, '_blank');
                    }
                });

                reset();
            });
        });

    </script>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom no-padding-right">
    <div class="row container-fluid no-padding-right">
        <div class="col-lg-11 col-xl-8 no-padding">
            <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
            <span class="search-query">{{query}} at {{source}} {{limit}} {{sort}}</span>
        </div>
        <div class="d-none d-xl-block col-xl-2 float-right row">
            <div class="row float-right mr-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle col-auto" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Style
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="showSubtopics();" href="javascript:void(0);">Subtopic</a>
                        <a class="dropdown-item" onclick="showYear();" href="javascript:void(0);">Year</a>
                    </div>
                </div>
                <a id="tour-start" class="btn btn-secondary col-auto ml-2" content="Reset"
                   href="javascript:void(0);" onclick="reset();">
                    <img class="nav-icon" src="{{ url_for('static', filename='rotate-cw.svg') }}"/>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="cy" class="mb-4" style="height: 680px; margin-bottom: 2rem">Loading...</div>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy; 2019-2020 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>