<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - Publication Analysis Service</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h1>PubTrends</h1>
        <p class="lead">Discover science trends and topics faster.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <form class="card card-sm" method="POST">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    &nbsp;&nbsp;
                    <div class="col">
                        <input class="form-control form-control-borderless" type="search"
                               placeholder="Enter keywords" name="terms">
                    </div>
                    &nbsp;&nbsp;

                    <div class="col-auto">
                        <select class="form-control" name="source">
                            <option>Pubmed</option>
                            <option>Semantic Scholar</option>
                        </select>
                    </div>

                    &nbsp;&nbsp;
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
<footer style="margin: 20px">
    <p style="text-align: center; color: #777; font-size: 11pt;">
        version {{ version }}<br/>
        &copy;2019 <a style="color: #777" href="https://research.jetbrains.org/groups/biolabs"
                      title="JetBrains Research BioLabs"
                      target="_blank">JetBrains Research</a></p>
</footer>

</body>
</html>