<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - Publication Analysis Service</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!--    <link rel="stylesheet" href="../static/style.css" />-->
</head>
<body>
<div class="container">
    <div class="jumbotron mb-2">
        <h1>PubTrends</h1>
        <p class="lead">
            Discover science trends and topics faster with 45+ million papers and 170+ million citations
        </p>
    </div>

    <div class="row no-gutters">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="topic-tab" data-toggle="tab" href="#topic" role="tab"
                               aria-controls="topic" aria-selected="true">Topic Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="paper-tab" data-toggle="tab" href="#paper" role="tab"
                               aria-controls="paper" aria-selected="false">Paper Analysis</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Form for topic analysis -->
                        <div class="tab-pane fade show active" id="topic" role="tabpanel"
                             aria-labelledby="topic-tab">
                            <div class="col-lg-12">
                                <form method="POST">
                                    <div class="row no-gutters align-items-center mb-3">
                                        <div class="col input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="query-addon">Query</span>
                                            </div>
                                            <input class="form-control form-control-borderless" type="search"
                                                   name="terms"
                                                   placeholder="Enter keywords" aria-describedby="query-addon"
                                                   autofocus>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-success" type="submit">Search</button>
                                        </div>
                                        <!--end of col-->
                                    </div>

                                    <div class="row no-gutters align-items-center">
                                        <div class="col input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="source-addon">Source</span>
                                            </div>
                                            <select class="form-control" name="source"
                                                    aria-describedby="source-addon">
                                                <option>Pubmed</option>
                                                <option>Semantic Scholar</option>
                                            </select>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;
                                        <div class="col input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="sort-addon">Sort By</span>
                                            </div>
                                            <select class="form-control" name="sort" aria-describedby="sort-addon">
                                                <option>Most Cited</option>
                                                <option>Most Recent</option>
                                                <option>Most Relevant</option>
                                            </select>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;
                                        <div class="col input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="amount-addon">Show</span>
                                            </div>
                                            <select class="form-control" aria-describedby="amount-addon"
                                                    name="amount">
                                                {% for amount in amounts %}
                                                {% if amount == default_amount %}
                                                <option selected>{{ amount }}</option>
                                                {% else %}
                                                <option>{{ amount }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text">papers</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Form for paper analysis -->
                        <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper-tab">
                            <form method="POST">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <select class="form-control" name="key">
                                            <option value="title" selected>Title</option>
                                            <option value="doi">DOI</option>
                                            <option value="pmid">PMID</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="col">
                                        <input class="form-control form-control-borderless" type="search" name="value"
                                               placeholder="Enter keywords" aria-describedby="query-addon" autofocus
                                               required>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="col-auto">
                                        <select class="form-control" name="source">
                                            <option selected>Pubmed</option>
                                            <option>Semantic Scholar</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy;2019 <a href="https://research.jetbrains.org/groups/biolabs"
                      title="JetBrains Research BioLabs"
                      target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>