<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - {{query}} at {{source}}{{ search_string }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" type="text/css">

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
<!--         <link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
<!--         <link rel="stylesheet" href="../static/result.css"/>-->
    <script>
        "use strict";
        $(document).ready(function () {
            $('#papers').DataTable();
        });
    </script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom">
    <div class="row container-fluid no-padding">
        <div class="col-1 no-padding"></div>
        <div class="col-11 no-padding">
            <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
            <span class="search-query">{{query}} at {{source}}{{ search_string }}</span>
        </div>
    </div>
</nav>

<div class="container-fluid no-padding">
    <div class="row">
        <div class="col-md-1 col-xl-1 no-padding"></div>
        <main class="col-md-11 col-xl-10 no-padding" role="main">
            <div class="mt-3">
                <table id="papers" class="table table-sm table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Journal</th>
                        <th scope="col">Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, title, authors, url, journal, year in papers %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            <a class="link" href="{{ url }}" title="Open in {{ source }}">{{ title }}</a>
                        </td>
                        <td>{{ authors }}</td>
                        <td>{{ journal }}</td>
                        <td>{{ year }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<footer>
    <p>version {{ version }}<br/>
        &copy; 2019-2020 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>