<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - {{ trimmed_title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/style.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/result.css"/> -->
    <script>
        "use strict";
        $(document).ready(function() {
            {% if related_topics is defined %}
                $('#related_topics').DataTable();
            {% endif %}
            {% if citing_papers is defined %}
                $('#citing_papers').DataTable();
            {% endif %}
            {% if cited_papers is defined %}
                $('#cited_papers').DataTable();
            {% endif %}
            {% if related_papers is defined %}
                $('#related_papers').DataTable();
            {% endif %}
        } );
    </script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom">
    <div class="row container-fluid">
        <div class="col-lg-1 col-xl-2 no-padding">
            <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
        </div>
        <div class="col-lg-11 col-xl-8"><div class="content">
            <span class="search-query">{{ trimmed_title }}</span>
        </div></div>
        <div class="d-none d-xl-block col-xl-2"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row ">
        <!-- Sticky sidebar -->
        <nav class="d-none d-xl-block d-lg-block col-lg-1 col-xl-2 sidebar no-padding">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#paper" title="Paper">
                        <img class="nav-icon" src="{{ url_for('static', filename='home.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#paper">
                        Paper
                    </a>
                </li>
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#citation-dynamics" title="Citation Dynamics">
                        <img class="nav-icon" src="{{ url_for('static', filename='bar-chart-2.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#citation-dynamics">
                        Citation Dynamics
                    </a>
                </li>
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#related-topics" title="Related Topics">
                        <img class="nav-icon" src="{{ url_for('static', filename='tag.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#related-topics">
                        Related Topics
                    </a>
                </li>
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#related-papers" title="Related Papers">
                        <img class="nav-icon" src="{{ url_for('static', filename='columns.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#related-papers">
                        Related Papers
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main content -->
    <main class="col-lg-10 col-xl-8" role="main">
        <div class="content">
            <div class="card mt-3">
                <div class="card-title" id="paper">
                    <h1 class="card-header">Paper</h1>
                </div>
                <div class="card-body">
                    <div>
                        <a class="float-right link" href="{{ url }}">
                            <img class="nav-icon" src="{{ url_for('static', filename='external-link.svg') }}"/>
                            Open in {{ source }}
                        </a>
                        <h2 class="paper-title">{{ title }}</h2>
                        <em>{{ authors }}</em>
                        <br>
                        {{ citation }}
                        {% if abstract is defined %}
                        <h5 class="card-subtitle mt-3">Abstract</h5>
                        <p class="mt-2">{{ abstract }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-title" id="citation-dynamics">
                    <h1 class="card-header">Citation Dynamics</h1>
                </div>
                <div class="card-body">
                    <div>
                        {% for script, div in citation_dynamics %}
                        {{ script|safe }}
                        {{ div|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-title" id="related-topics">
                    <h1 class="card-header">Related Topics</h1>
                </div>
                <div class="card-body">
                    <p>
                        This section demonstrates relationships of the paper with other sub-topics in the field.<br>
                        Table below show number of co-cited papers with respect to different topics.<br>
                        Generally, the more interdisciplinary paper is, the more interconnections with several topics it
                        has.
                    </p>
                    {% if related_topics is defined %}
                    <table id="related_topics" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Topic keywords</th>
                            <th scope="col">Related papers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in related_topics %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-title" id="related-papers">
                    <h1 class="card-header">Related Papers</h1>
                </div>
                <div class="card-body">

                    {% if citing_papers is defined %}
                    <h4>Valuable References</h4>
                    <p>
                        This section represents most valuable papers, which are referenced from the paper of interest.
                    </p>
                    <table id="citing_papers" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, title, url in citing_papers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                    {{ title }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    {% endif %}

                    {% if cited_papers is defined %}
                    <hr>
                    <h4>Valuable Citations</h4>
                    <p>
                        This section represents most valuable papers, which has the paper of interest among references.
                    </p>
                    <table id="cited_papers" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, title, url in cited_papers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                    {{ title }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    {% endif %}

                    {% if related_papers is defined %}
                    <hr>
                    <h4>Valuable Related Papers</h4>
                    <p>
                        This section represents valuable papers, which are similar to the paper of interest.
                    </p>
                    <table id="related_papers" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Weight</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, title, url, cw in related_papers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                    {{ title }}
                                </a>
                            </td>
                            <td>{{ cw }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <!--Right alignment-->
    <div class="d-none d-xl-block col-xl-2"></div>
</div>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy; 2019-2020 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>