<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %msg%n"/>
        </Console>

        <Console name="Crawler" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] Crawler: %-5level %msg%n"/>
        </Console>

        <Console name="Parser" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] Parser: %-5level %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.jetbrains.bio.pubtrends.crawler.PubmedCrawler" level="debug" additivity="false">
            <AppenderRef ref="Crawler"/>
        </Logger>

        <Logger name="org.jetbrains.bio.pubtrends.crawler.PubmedXMLHandler" level="info" additivity="false">
            <AppenderRef ref="Parser"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>