html {
    /* default font-size is 16px - this is set in the default browser stylesheet */
    font-size: 14px;
}

.jumbotron {
    /*background: rgba(0, 0, 0, 0.05);*/
    border-radius: 4px;
    background-image: url("../static/susan-yin-2JIvboGLeho-unsplash-processed.jpg");
    background-size: cover;
    padding-bottom: 16px;
    margin-bottom: 0 !important;
}

.grey {
    color: #555555;
}

.link {
    color: black;
    text-decoration: underline;
    text-decoration-color: #aaaaaa;
}

.search-query {
    font-size: 1.1rem;
}

.no-padding {
    padding-left: unset !important;
    padding-right: unset !important;
}

.no-padding-left {
    padding-left: unset !important;
}

.no-padding-right {
    padding-right: unset !important;
}

.container {
    /*width: 960px;*/
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-size: 0.8rem;
}

footer {
    margin: 1rem;
    font-size: 0.9rem;
    text-align: center;
    color: #777777;
}

footer a {
    color: #777777;
    text-decoration: underline;
    text-decoration-color: #aaaaaa;
}

span.error-message {
    white-space: pre-line;
}

.inline {
    display: inline;
}

.link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.link-button:focus {
    outline: none;
}

ol.breadcrumb {
    margin: 0px;
    padding: 0px;
}

.breadcrumb-item + .breadcrumb-item:before {
    content: ">";
    transform: scale(.5, 1);
}

.vertical-center {
    display: flex;
    align-items: center;
}

.dropdown-sub:hover > .dropdown-menu {
    display: block;
}

.dropdown-sub > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}