<!DOCTYPE html>
<html>
<head>
    <title>About PubTrends - Your Scientific Literature Explorer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Notify.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='feedback.js') }}"></script>
    <!--    <script src="../static/feedback.js"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}?v=1">
    <!--    <link rel="stylesheet" href="../static/feedback.css"/>-->

    <link rel="stylesheet" href="../static/style.css"/>
    <script>
        "use strict";
        $(document).ready(function () {
            createClickableFeedBackFormNoMessage("feedback-about-html-form", "feedback-about-html")
        });
    </script>
</head>
<body>
<div class="container mt-2" role="main">
    <h2>PubTrends</h2>
    <p>
        PubTrends is a powerful tool designed to help researchers navigate the ever-growing flow of scientific
        publications.<br>
        It accelerates trend analysis and the discovery of breakthrough papers, offering a streamlined approach to
        staying ahead in your field.
    </p>
    With PubTrends, you can:
    <ul>
        <li>Gain a concise overview of your research area.</li>
        <li>Explore popular trends and impactful publications.</li>
        <li>Discover new and promising research directions.</li>
    </ul>
    <h5 id="datasets">Datasets</h5>
    <p>
    <ul>
        <li><a class="link"
               href="https://pubmed.ncbi.nlm.nih.gov/">Pubmed</a> 30 mln papers and 175 mln citations
        </li>
        <li><a class="link" href="https://www.semanticscholar.org/">Semantic
            Scholar</a> 170 mln papers and 600 mln citations
        </li>
    </ul>
    </p>
    <h5 id="workflow">Workflow</h5>
    <p>
        <img class="mx-auto d-block" src="../static/about_pubtrends_scheme.png" style="width: 100%; max-width: 900px;">
    </p>

    <h3 id="example">Example</h3>
    <p>Here we describe the analysis for the predefined search query <a
            class="link" target="_blank"
            href="/result?source=Pubmed&sort=Most+Cited&limit=1000&noreviews=on&jobid=predefined_013615a5e39aa14ae55eba6d2a89b068&query=%22human+aging%22"
    >"human aging"</a>. <br>
    </p>

    <h5>Papers</h5>
    <p>The Papers section offers a comprehensive overview of the field, featuring the total number of articles,
        extracted topics, and a word cloud of frequently used terms in titles and abstracts (clickable for accessing
        related documents). It also includes a yearly summary of published papers and an option to view papers in a list
        format.
    </p>
    <img class="mx-auto d-block" src="../static/about_report.png"
         style="width: 100%; max-width: 900px">
    <h5>Topics by Year</h5>
    <p>The Topics by Year plot displays the distribution of papers across different topics, highlighting the number of
        papers for each topic annually.<br>
        Each topic is summarized with key keywords and its overall share of total papers.
    </p>
    <img class="mx-auto d-block" src="../static/about_topics_by_year.png"
         style="width: 100%; max-width: 900px">
    <h5>Top Cited Papers</h5>
    <p>
        The Top Cited Papers plot offers an interactive visualization of the most-cited papers, categorized by citation
        count and type, with different colors representing various article types.
    </p>
    <img class="mx-auto d-block"
         src="../static/about_top_cited_papers.png"
         style="width: 100%; max-width: 900px">

    <h5>Hot Papers</h5>
    <p>
        The Hot Papers plot highlights the papers with the highest number of citations for each year.
    </p>
    <img class="mx-auto d-block" src="../static/about_hot_papers.png"
         style="width: 100%; max-width: 900px">
    <h5>Keywords</h5>
    <p>The Keywords Frequency plot displays the most common terms used in papers and their evolution over time.<br>
        You can hover over a keyword to see the exact number of papers in which it appears.
    </p>
    <img class="mx-auto d-block" src="../static/about_keywords.png"
         style="width: 100%; max-width: 900px">

    <h5 id="network">Network</h5>
    <p>
        Topics are closely related groups of documents. Aggregated graph and text embeddings are used to find similar
        papers and detect topics.<br>
        Overall structure of topics within a research field can be visualised as a papers similarity graph.
    </p>
    <img class="mx-auto d-block" src="../static/about_network.png"
         style="width: 100%; max-width: 900px"><br>
    <h5>Interactive Visualization</h5>
    <p>The displayed graph represents the overall structure of the research field, but the dedicated graph explorer
        offers a more comprehensive experience.<br>
        It allows papers to be color-coded by year or topic and provides advanced search and filtering options using
        available metadata.<br>
        In the screenshot, papers are color-coded by topic, with one paper highlighted along with its connected papers.
    </p>
    <img class="mx-auto d-block" src="../static/about_graph_explorer.png"
         style="width: 100%; max-width: 900px"><br>

    <h5 id="topics">Topics</h5>
    <p>Topics are identified through hierarchical clustering of paper embeddings.<br>
        Users can explore the topic hierarchy using a dendrogram in a dedicated plot.</p>
    <img class="mx-auto d-block" src="../static/about_topics_hierarchy.png"
         style="width: 100%; max-width: 900px"><br>
    <h5>Topic Keywords</h5>
    <p>For each topic, the application displays a familiar word cloud and an articles plot.<br>
        The word cloud is generated using terms specific to the selected topic, highlighting their significance compared
        to other topics.<br>
        The size of each word reflects its importance, based on the proportion of papers mentioning it.
    </p>
    <img class="mx-auto d-block" src="../static/about_topic.png"
         style="width: 100%; max-width: 900px">
    <h5 id="review">Review</h5>
    <p>
        Generate a review for the chosen topic - a set of sentences from top cited papers with the highest probability
        to be included in a real review paper.</p>
    <img class="mx-auto d-block" src="../static/about_review.png"
         style="width: 100%; max-width: 900px">
    <h3>Materials</h3>
    <ul>
        <li>
            <i>Shpynov, O. and Kapralov, N., PubTrends: a scientific literature explorer. In Proceedings of the 12th ACM
                Conference on Bioinformatics, Computational Biology, and Health Informatics,
                2021 (pp. 1-1).</i>
            <a class="link" href="https://doi.org/10.1145/3459930.3469501">https://doi.org/10.1145/3459930.3469501</a>
        </li>
        <li>
            <i>Nikiforovskaya, A., Kapralov, N., Vlasova, A., Shpynov, O. and Shpilman, A., 2020, December.
                Automatic generation of reviews of scientific papers. In 2020 19th IEEE International Conference on
                Machine Learning and Applications (ICMLA) (pp. 314-319). IEEE.</i>
            <a class="link"
               href="https://arxiv.org/abs/2010.04147">https://arxiv.org/abs/2010.04147</a>
        </li>
    </ul>
    <h3>Code</h3>
    <p>
        Source code is available on GitHub at
        <a href="https://github.com/JetBrains-Research/pubtrends" target="_blank">https://github.com/JetBrains-Research/PubTrends</a>.
    </p>
</div>
<footer class="container">
    <div class="row">
        <div class="col-4">
            <div id="feedback-about-html-form" class="float-left vertical-center"></div>
        </div>
        <div class="col-4">
            <p>version <a href="https://github.com/JetBrains-Research/pubtrends/blob/master/CHANGES.md"
                          title="{{ version }}"
                          target="_blank">{{ version }}</a><br/>
                &copy; 2021-2025 <a href="https://research.jetbrains.org/groups/biolabs"
                                    title="JetBrains Research BioLabs"
                                    target="_blank">JetBrains Research</a>
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</footer>
</body>
</html>