<!DOCTYPE html>
<html>
<head>
    <title>{{ query }} at {{ source }} {{ limit }} {{ sort }} - PubTrends</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

    <!-- Cytoscape -->
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

    <!-- Tippy.js-->
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.3.5/umd/index.all.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.3.5/index.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.3.5/themes/light.css"/>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/style.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/result.css"/> -->
    <script src="{{ url_for('static', filename='text_utils.js') }}"></script>
    <!--<script src="../../static/text_utils.js"/>-->
    <script src="{{ url_for('static', filename='feedback.js') }}"></script>
    <!--    <script src="../static/feedback.js"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}?v=1">
    <!--    <link rel="stylesheet" href="../static/feedback.css"/>-->

    <!-- IntroJS feature tour -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>

    <!-- Notify.js -->
    <!--<script src="../../static/notify.js"/>-->
    <script src="{{ url_for('static', filename='notify.js') }}"></script>

    <script>
        "use strict";

        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        function showColorTopics() {
            window.show_color_mode = 'topics';
            window.cy.batch(function () {
                cy.nodes().forEach(function (ele) {
                    if ('title' in ele.data()) {
                        ele.removeClass('color-topic color-year');
                        ele.addClass('color-topic');
                    }
                });
            });
            showDescription(topics_tags);
        }

        function showColorYear() {
            window.show_color_mode = 'year';
            window.cy.batch(function () {
                cy.nodes().forEach(function (ele) {
                    if ('title' in ele.data()) {
                        ele.removeClass('color-topic color-year');
                        ele.addClass('color-year');
                    }
                });
            });
            showYear();
        }

        function showSizeConnections() {
            window.show_size_mode = 'connections';
            $('#slider-label').text('Min connections');
            $('#slider').val(0);
            window.cy.batch(function () {
                cy.nodes().forEach(function (ele) {
                    if ('title' in ele.data()) {
                        ele.removeClass('size-citations size-connections');
                        ele.addClass('size-connections');
                    }
                });
            });
        }

        function showSizeCitations() {
            window.show_size_mode = 'citations';
            $('#slider-label').text('Min citations');
            $('#slider').val(0);
            window.cy.batch(function () {
                cy.nodes().forEach(function (ele) {
                    if ('title' in ele.data()) {
                        ele.removeClass('size-citations size-connections');
                        ele.addClass('size-citations');
                    }
                });
            });
        }

        function showDescription(description) {
            // Close all notifications
            $('#topleftnotify').trigger('notify-hide');
            const h = $(window).height();
            const s = Math.min(13, Math.round(7 * h / 800 * 80 / (Object.keys(topics_palette).length + 1))).toString()
            let content = '<div id="topleftnotify" class="mt-5"><br><p style="background-color:white;color:black;line-height: 35%;font-size:' + s + 'px";>';
            for (let [topic, tags] of Object.entries(description)) {
                content += '<svg width="' + s + '" height="' + s + '">' +
                    '<rect width="' + s + '" height="' + s + '" ' +
                    'style="fill:' + topics_palette[topic] + '";/></svg> ' +
                    '#' + (parseInt(topic) + 1).toString() + ' ' + tags + '<br>';
            }
            content += '</p></div>';
            $.notify({
                title: $(content)
            }, {
                style: 'html_title',
                autoHide: false,
                position: 'top left',
                showDuration: 0,
                hideDuration: 0,
                clickToHide: false
            });
        }

        function showYear() {
            // Close all notifications
            $('#topleftnotify').trigger('notify-hide');
            $.notify({
                title:
                    $('<div id="topleftnotify" class="mt-5"><br><p><small>' +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:#000000;"/></svg> ' +
                        window.min_year + ' - ' +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:#00FF00;"/></svg> ' +
                        window.max_year +
                        '</small></p></div>')
            }, {
                style: 'html_title',
                autoHide: false,
                position: 'top left',
                showDuration: 0,
                hideDuration: 0,
                clickToHide: false
            });
        }

        function computeYearCitedConnections(elements) {
            window.min_year = 3000;
            window.max_year = 0;
            window.max_cited = 0;
            window.max_connections = 0;
            elements['nodes'].forEach(function (ele) {
                let data = ele['data'];
                if ('year' in data) {
                    window.min_year = Math.min(data.year, window.min_year);
                    window.max_year = Math.max(data.year, window.max_year);
                }
                if ('cited' in data) {
                    window.max_cited = Math.max(data.cited, window.max_cited);
                }
                if ('connections' in data) {
                    window.max_connections = Math.max(data.connections, window.max_connections);
                }
            });
        }

        function addTopicsCenters(elements) {
            let topics_xs = new Map();
            let topics_ys = new Map();
            elements['nodes'].forEach(function (ele) {
                let topic = ele['data']['topic'];
                let pos = ele['position'];
                if (!topics_xs.has(topic)) {
                    topics_xs.set(topic, []);
                    topics_ys.set(topic, []);
                }
                topics_xs.get(topic).push(pos.x);
                topics_ys.get(topic).push(pos.y);
            });
            for (let [topic, xs] of topics_xs.entries()) {
                let ys = topics_ys.get(topic);
                let x = xs.reduce((acc, v) => acc + v, 0) / xs.length;
                let y = ys.reduce((acc, v) => acc + v, 0) / ys.length;
                elements['nodes'].push({
                    data: {name: "#" + (parseInt(topic) + 1).toString()},
                    position: {x: x, y: y},
                    classes: "topic-center"
                });
            }
        }

        function showPaperAbstract(data, topics_palette, topics_tags) {
            // Close notifications
            $('#about-paper').trigger('notify-hide');
            window.abstractShown = true;
            setTimeout(function () {
                if (!window.abstractShown) return;
                let content = '<div id="about-paper" ' +
                    'style="background-color: white; position: fixed; bottom: 0; margin-bottom: 0;"><br><p>' +
                    data.abstract + '</p><p>' +
                    '<span style="color:dodgerblue;">Mesh</span>: ' + data.mesh + "<br>" +
                    '<span style="color:dodgerblue;">Keywords</span>: ' + data.keywords + "<br>" +
                    '<span style="color:dodgerblue;">Topic</span>: ' + (data.topic + 1) + " " +
                    '<svg width="16" height="16"><rect width="16" height="16" ' +
                    'style="fill:' + topics_palette[data.topic] + '";/></svg> ' + topics_tags[data.topic] +
                    '</p></div>';
                $.notify({
                    title: $(content)
                }, {
                    style: 'html_title',
                    autoHide: false,
                    position: 'bottom left',
                    showDuration: 0,
                    hideDuration: 0,
                    clickToHide: false
                });
            }, 300);
        }

        function hidePaperAbstract() {
            // Hide paper abstract and other information
            $('#about-paper').trigger('notify-hide');
            window.abstractShown = false;
        }

        $(window).on("load", function () {
            document.getElementById('cy').innerHTML = "";

            // Disable formatter for the next section because of injections.
            // Enable formatter control in File > Settings > Editor > Code Style
            // @formatter:off
            const topics_palette = window.topics_palette = JSON.parse({{ topics_palette_json | tojson }});
            const topics_tags = window.topics_tags = JSON.parse({{topics_tags_json | tojson }});
            const elements = JSON.parse({{ graph_cytoscape_json | tojson }});
            // @formatter:on
            window.papers_number = elements['nodes'].length;

            // Compute min/max params for palette/sizes
            computeYearCitedConnections(elements);

            // Compute topics centers
            addTopicsCenters(elements);

            //add a new style 'html_title'
            $.notify.addStyle('html_title', {
                html: "<div class='title' data-notify-html='title'/>"
            });

            let cy = window.cy = cytoscape({
                container: document.getElementById('cy'),
                layout: {
                    name: 'preset',
                    animate: false
                },
                style: [
                    {
                        selector: "node",
                        style: {
                            "width": 5,
                            "height": 5,
                            "border-width": 0.5,
                            "border-color": "black",
                            "opacity": 0.7,
                        }
                    },
                    <!-- In case of Paper Analyzer highlight analyzed paper -->
                    {
                        selector: 'node.analyzed',
                        style: {
                            'border-width': '2.0',
                            'opacity': '1.0 !important'
                        }
                    },
                    {
                        selector: "node.size-connections",
                        style: {
                            "width": function (node) {
                                const data = node.data();
                                if ('connections' in data) {
                                    return data.connections * 10 / window.max_connections + 5;
                                } else {
                                    return 5;
                                }
                            },
                            "height": function (node) {
                                const data = node.data();
                                if ('connections' in data) {
                                    return data.connections * 10 / window.max_connections + 5;
                                } else {
                                    return 5;
                                }
                            }
                        }
                    },
                    {
                        selector: "node.size-citations",
                        style: {
                            "width": function (node) {
                                const data = node.data();
                                if ('cited' in data) {
                                    return data.cited * 10 / window.max_cited + 5;
                                } else {
                                    return 5;
                                }
                            },
                            "height": function (node) {
                                const data = node.data();
                                if ('cited' in data) {
                                    return data.cited * 10 / window.max_cited + 5;
                                } else {
                                    return 5;
                                }
                            }
                        }
                    },
                    {
                        selector: "node.color-topic",
                        style: {
                            "background-color": function (node) {
                                let data = node.data();
                                if ('topic' in data) {
                                    return topics_palette[data.topic];
                                } else {
                                    return '#FFFFFF'
                                }
                            },
                        }
                    },
                    {
                        selector: "node.color-year",
                        style: {
                            "background-color": function (node) {
                                let data = node.data();
                                if ('year' in data) {
                                    let dy;
                                    if (window.max_year > window.min_year) {
                                        dy = (data.year - window.min_year) / (window.max_year - window.min_year);
                                    } else {
                                        dy = 1;
                                    }
                                    return rgbToHex(0, Math.floor(255 * dy), 0);
                                } else {
                                    return "#FFFFFF"
                                }
                            },
                        }
                    },
                    {
                        selector: "node.topic-center",
                        style: {
                            "content": "data(name)",
                            "font-size": "13px",
                            "text-valign": "center",
                            "text-halign": "center",
                            "background-color": "black",
                            "text-outline-color": "white",
                            "text-outline-width": "4px",
                            "color": "black",
                            "overlay-padding": "8px",
                            "z-index": "10",
                            "text-background-color": "black",
                            "opacity": "1.0 !important"
                        }
                    },
                    {
                        selector: 'node.highlight',
                        style: {
                            'border-width': '1.0 !important',
                            'opacity': '1.0 !important'
                        }
                    },
                    {
                        selector: 'node.semitransp-hover',
                        style: {
                            'opacity': '0.01 !important'
                        }
                    },
                    {
                        selector: 'node.semitransp-filter',
                        style: {
                            'opacity': '0.01 !important'
                        }
                    },
                    {
                        selector: 'node.semitransp-range',
                        style: {
                            'opacity': '0.01 !important'
                        }
                    },
                    {
                        selector: "edge",
                        style: {
                            "width": 0.5,
                            "curve-style": "haystack",
                            "line-color": function (edge) {
                                let data = edge.data();
                                let bibcoupling = 0;
                                if ('bibcoupling' in data) {
                                    bibcoupling = data.bibcoupling;
                                }
                                let cocitation = 0;
                                if ('cocitation' in data) {
                                    cocitation = data.cocitation;
                                }
                                let citation = 0;
                                if ('citation' in data) {
                                    citation = data.citation;
                                }
                                if (cocitation > 0 && cocitation >= Math.max(bibcoupling, citation)) {
                                    return "#2ECC71" //214, 234, 248
                                }
                                if (bibcoupling > 0 && bibcoupling >= Math.max(cocitation, citation)) {
                                    return "#9B59B6"; //218, 247, 166
                                }
                                if (citation > 0 && citation >= Math.max(cocitation, bibcoupling)) {
                                    return "#3498DB"; //235, 222, 240
                                }
                                // Text similarity
                                return "#BDC3C7";
                            },
                            "opacity": 0.1
                        }
                    },
                    {
                        selector: 'edge.highlight',
                        style: {
                            'width': '1.0 !important',
                            'opacity': '1.0 !important'
                        }
                    },
                    {
                        selector: 'edge.semitransp-hover',
                        style: {
                            'opacity': '0.01 !important'
                        }
                    },
                    {
                        selector: 'edge.semitransp-range',
                        style: {
                            'opacity': '0.01 !important'
                        }
                    },
                    {
                        selector: 'edge.semitransp-filter',
                        style: {
                            'opacity': '0.01 !important'
                        }
                    },

                ],
                elements: elements,
                // interaction options
                minZoom: 1e-1,
                maxZoom: 1e1,
                boxSelectionEnabled: false,
            });

            function makePopper(ele) {
                let ref = ele.popperRef(); // used only for positioning

                ele.tippy = tippy(ref, { // tippy options:
                    theme: 'light',
                    content: () => {
                        let content = document.createElement('div');
                        let data = ele.data();
                        if ('similarity' in data || 'textsimilarity' in data) {
                            // Edge similarity
                            let bibcoupling = 0;
                            if ('bibcoupling' in data) {
                                bibcoupling = data.bibcoupling;
                            }
                            let cocitation = 0;
                            if ('cocitation' in data) {
                                cocitation = data.cocitation;
                            }
                            let citation = 0;
                            if ('citation' in data) {
                                citation = data.citation;
                            }
                            let textsimilarity = 0;
                            if ('textsimilarity' in data) {
                                textsimilarity = data.textsimilarity;
                            }
                            content.innerHTML = "<p style='text-align:left;'><small>" +
                                '<span style="color:dodgerblue;">Co-citations</span>: ' + cocitation + "<br>" +
                                '<span style="color:dodgerblue;">Common references</span>: ' + bibcoupling + "<br>" +
                                '<span style="color:dodgerblue;">Citation</span>: ' + citation + "<br>" +
                                '<span style="color:dodgerblue;">Text similarity</span>: ' + textsimilarity.toFixed(2) + "</p>";
                        } else if ('title' in data) {
                            // Paper
                            // Disable formatter for the next section because of injections.
                            // Enable formatter control in File > Settings > Editor > Code Style
                            // @formatter:off
                            content.innerHTML = "<p style='text-align:left;'><small>" +
                                "<b>" + data.title + "</b><br>" +
                                '<span style="color:dodgerblue;">Author(s)</span>: ' + data.authors + "<br>" +
                                '<span style="color:dodgerblue;">Journal(s)</span>: ' + data.journal + "<br>" +
                                '<span style="color:dodgerblue;">Year</span>: ' + data.year + "<br>" +
                                '<span style="color:dodgerblue;">Cited by </span>: ' + data.cited + " paper(s) total<br>" +
                                "</small></p>";
                        }
                        // @formatter:on
                        return content;
                    },
                    animation: 'false',
                    trigger: 'manual' // manual mode is required here, because of cytoscape
                });
                return ele.tippy;
            }

            // Default size and colors
            showSizeConnections();
            showColorTopics();

            // Save all created tippy
            let tippys = [];

            function addPopper(popperElements) {
                popperElements.forEach(function (ele) {
                    tippys.push(makePopper(ele));
                    ele.unbind('mouseover');
                    // track hovered event to avoid too late tippy
                    let inside = false;
                    ele.bind('mouseover', (event) => {
                        if (ele.hasClass('semitransp-hover') ||
                            ele.hasClass('semitransp-range') ||
                            ele.hasClass('semitransp-filter')) return;
                        inside = true;
                        // Show hover timeout
                        setTimeout(
                            function () {
                                if (inside) {
                                    event.target.tippy.show();
                                }
                            },
                            300
                        );
                    });
                    ele.unbind('mouseout');
                    ele.bind('mouseout', (event) => {
                        if (ele.hasClass('semitransp-hover') ||
                            ele.hasClass('semitransp-range') ||
                            ele.hasClass('semitransp-filter')) return;
                        inside = false;
                        event.target.tippy.hide();
                    })
                });
            }

            cy.ready(function () {
                // Add info popup on hover
                addPopper(cy.nodes().filter(function (ele) {
                    return 'topic' in ele.data();
                }));
                addPopper(cy.edges().filter(function (ele) {
                    return 'similarity' in ele.data() || 'textsimilarity' in ele.data();
                }));
                // Open paper details on click
                cy.nodes().on('click', function (event) {
                    let ele = event.target;
                    if (ele.hasClass('semitransp-hover') || ele.hasClass('semitransp-range') || ele.hasClass('semitransp-filter')) return;
                    let data = ele.data();
                    if ('title' in data) {
                        event.stopPropagation();
                        // Decode jobid from URL
                        const jobid = new URL(window.location).searchParams.get('jobid');
                        window.open('/paper?source={{source}}&id=' + data.id + '&jobid=' + jobid, '_blank');
                    }
                });

                window.abstractShown = false;

                // Highlight node and neighbours on hover
                cy.on('mouseover', 'node', function (event) {
                    let sel = event.target;
                    if (sel.hasClass('semitransp-range') ||
                        sel.hasClass('semitransp-filter') ||
                        window.freeze && sel.hasClass('semitransp-hover')) return;
                    let data = sel.data();
                    if ('title' in data) {
                        showPaperAbstract(data, topics_palette, topics_tags);
                    }
                    if (window.freeze) {
                        return;
                    }
                    if ('title' in data) {
                        sel.addClass('highlight');
                        sel.removeClass('semitransp-hover');
                        let neighborEdges = sel.connectedEdges();
                        let neighborNodes = neighborEdges.connectedNodes();
                        cy.nodes().filter(function (ele) {
                            return ele !== sel &&
                                !ele.hasClass('semitransp-range') &&
                                !ele.hasClass('semitransp-filter');
                        }).difference(neighborNodes).addClass('semitransp-hover');
                        neighborEdges.addClass('highlight');
                        cy.edges().difference(neighborEdges).addClass('semitransp-hover');
                        neighborNodes.addClass('highlight');
                    }
                });
                cy.on('mouseout', 'node', function (event) {
                    hidePaperAbstract();
                    if (window.freeze) {
                        return;
                    }
                    let sel = event.target;
                    if (sel.hasClass('semitransp-range') || sel.hasClass('semitransp-filter')) return;
                    if ('title' in sel.data()) {
                        sel.removeClass('highlight');
                        sel.removeClass('semitransp-hover');
                        let neighborEdges = sel.connectedEdges();
                        let neighborNodes = neighborEdges.connectedNodes();
                        neighborNodes.removeClass('highlight');
                        cy.nodes().filter(function (ele) {
                            return ele !== sel &&
                                !ele.hasClass('semitransp-range') &&
                                !ele.hasClass('semitransp-filter');
                        }).difference(neighborNodes).removeClass('semitransp-hover');
                        neighborEdges.removeClass('highlight');
                        cy.edges().difference(neighborEdges).removeClass('semitransp-hover');
                    }
                });

                // Highlight edges and neighbours on hover
                cy.on('mouseover', 'edge', function (event) {
                    if (window.freeze || getFilter() !== "" || $('#slider').val() > 0) {
                        return;
                    }
                    let sel = event.target;
                    sel.addClass('highlight');
                    let neighborNodes = sel.connectedNodes();
                    cy.nodes().filter(function (ele) {
                        return ele !== sel && ele.hasClass('dataset');
                    }).difference(neighborNodes).addClass('semitransp-hover');
                    cy.edges().difference(sel).addClass('semitransp-hover');
                    neighborNodes.addClass('highlight');
                });
                cy.on('mouseout', 'edge', function (event) {
                    if (window.freeze || getFilter() !== "" || $('#slider').val() > 0) {
                        return;
                    }
                    let sel = event.target;
                    sel.removeClass('highlight');
                    let neighborNodes = sel.connectedNodes();
                    neighborNodes.removeClass('highlight');
                    cy.nodes().filter(function (ele) {
                        return ele !== sel && ele.hasClass('dataset');
                    }).difference(neighborNodes).removeClass('semitransp-hover');
                    sel.removeClass('highlight');
                    cy.edges().difference(sel).removeClass('semitransp-hover');
                });

                <!-- Highlight analyzed paper -->
                if ("{{ limit }}" === "related" && "{{ sort }}" === "papers") {
                    let title = normalize('{{ query }}');
                    if (title.endsWith("...")) {
                        title = title.replace("...", "");
                    }
                    cy.nodes().forEach(function (ele) {
                        let data = ele.data();
                        if ('title' in data) {
                            if (data.title.startsWith(title)) {
                                ele.addClass('analyzed');
                            }
                        }
                    });
                }
            });
            window.freeze = false;
            // Close all tippy
            $(document).keyup(function (event) { // keyprocess doesn't handle escape key
                if (event.keyCode === 27) { // Escape
                    tippys.forEach((e) => e.hide());
                    if (window.freeze) {
                        // Unfreeze hover highlighting
                        window.freeze = false;
                        searchChanged();
                        $.notify("Escape pressed. Revert to normal highlighting mode.", {
                            className: "success",
                            position: "bottom right"
                        });
                    }
                }
            });
            $(document).keypress(function (event) {
                if (event.keyCode === 70 || event.keyCode === 102) { // F or f
                    if (!window.freeze) {
                        window.freeze = true;  // Freeze hover highlighting
                        $.notify("F pressed. Switched to fixed highlighting mode. Use Escape to undo.", {
                            className: "success",
                            position: "bottom right"
                        });
                    }
                }
            });

            $('#searchTitles').change(searchChanged);
            $('#searchAbstracts').change(searchChanged);
            $('#searchAuthors').change(searchChanged);
            $('#searchJournals').change(searchChanged);
            $('#searchMesh').change(searchChanged);
            $('#searchKeywords').change(searchChanged);

            showNumberOfPapers();
        });

        function getFilter() {
            return $.trim($("#search-input").val()).toLowerCase();
        }

        function sliderRange() {
            let sliderVal = $('#slider').val();
            let min_threshold = 0
            if (window.show_size_mode === 'connections') {
                min_threshold = window.max_connections * sliderVal / 100;
            } else if (window.show_size_mode === 'citations') {
                min_threshold = window.max_cited * sliderVal / 100;
            }
            window.cy.batch(function () {
                window.cy.nodes().forEach(function (ele) {
                    let data = ele.data();
                    if ('title' in data) {
                        if (window.show_size_mode === 'connections' && data.connections < min_threshold ||
                            window.show_size_mode === 'citations' && data.cited < min_threshold) {
                            ele.addClass('semitransp-range');
                        } else {
                            ele.removeClass('semitransp-range');
                        }
                    }
                });
            });
            showNumberOfPapers();
        }

        function showNumberOfPapers() {
            // Close all notifications
            $('#npapers').trigger('notify-hide');
            let matches = 0;
            window.cy.nodes().forEach(function (ele) {
                if ('title' in ele.data() && !ele.hasClass('semitransp-range') && !ele.hasClass('semitransp-filter')) matches += 1;
            });
            let msg = "";
            if (matches === papers_number) {
                msg = papers_number.toString();
            } else
                msg = matches.toString() + " of " + papers_number.toString();
            $.notify({
                title: $('<div id="npapers" class="mt-5"><br><p><small>' + msg + ' papers</small></p></div>')
            }, {
                style: 'html_title',
                autoHide: false,
                position: 'bottom right',
                showDuration: 0,
                hideDuration: 0,
                clickToHide: false
            });
        }

        function searchChanged() {
            const filter = getFilter();
            if (filter === '') {
                window.cy.batch(function () {
                    window.cy.nodes().filter(function (ele) {
                        return 'title' in ele.data();
                    }).forEach(function (ele) {
                        ele.removeClass('highlight');
                        ele.removeClass('semitransp-filter');
                    });
                });
                showNumberOfPapers();
                return;
            }

            // Non-empty search
            window.cy.batch(function () {
                window.cy.nodes().forEach(function (ele) {
                    let data = ele.data();
                    if ('title' in data) {
                        if ($('#searchTitles').is(':checked') && data.title.toLowerCase().includes(filter) ||
                            $('#searchJournals').is(':checked') && data.journal.toLowerCase().includes(filter) ||
                            $('#searchAuthors').is(':checked') && data.authors.toLowerCase().includes(filter) ||
                            $('#searchAbstracts').is(':checked') && data.abstract.toLowerCase().includes(filter) ||
                            $('#searchMesh').is(':checked') && data.mesh.toLowerCase().includes(filter) ||
                            $('#searchKeywords').is(':checked') && data.keywords.toLowerCase().includes(filter)) {
                            ele.removeClass('semitransp-filter');
                            ele.addClass('highlight');
                        } else {
                            ele.removeClass('highlight');
                            ele.addClass('semitransp-filter');
                        }
                    }
                });
            });

            sliderRange();

            showNumberOfPapers();
        }

        function result() {
            const url = '/result?query=' + normalize('{{ query }}') + '&source={{source}}&limit={{limit}}&sort={{sort}}';
            // Decode jobid from URL
            const jobid = new URL(window.location).searchParams.get('jobid');
            window.open(url + '&jobid=' + jobid, '_blank');
        }

        $(document).ready(function () {
            createClickableFeedBackFormNoMessage("feedback-graph-html-form", "feedback-graph-html")

            setTimeout(function () {
                $.notify("See About for quick introduction.", {
                    className: "success",
                    position: "bottom right",
                    autoHideDelay: 5000
                });
            }, 5000);
        });

    </script>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom no-padding-right justify-content-between">
    <a id="pubtrends" class="navbar-brand vertical-center" href="/">PubTrends</a>
    <ol class="breadcrumb bg-light search-query">
        <li class="breadcrumb-item vertical-center">{{ source }}</li>
        <li class="breadcrumb-item vertical-center">
            <a id="result" href="javascript:void(0);" class="link" onclick="result();"><strong>{{ query }}</strong></a>
        </li>
        <li class="breadcrumb-item vertical-center">{{ limit }} {{ sort }}</li>
    </ol>
    <div class="form-inline">
    <span class="d-flex align-items-center mr-2">
        <input id="search-input" type="text" class="form-control" style="min-width: 100px;"
               placeholder="Search..." aria-label="Search for..."
               oninput="searchChanged();"/>
        &nbsp;in

        <input type="checkbox" id="searchTitles" class="ml-3 mr-2" checked="checked"/>
        <label style="margin: auto" for="searchTitles">Titles</label>

        <input type="checkbox" id="searchAbstracts" class="ml-3 mr-2" checked="checked"/>
        <label style="margin: auto" for="searchAbstracts">Abstracts</label>

        <input type="checkbox" id="searchAuthors" class="ml-3 mr-2"/>
        <label style="margin: auto" for="searchAuthors">Authors</label>

        <input type="checkbox" id="searchJournals" class="ml-3 mr-2"/>
        <label style="margin: auto" for="searchJournals">Journals</label>

        <input type="checkbox" id="searchMesh" class="ml-3 mr-2"/>
        <label style="margin: auto" for="searchMesh">Mesh</label>

        <input type="checkbox" id="searchKeywords" class="ml-3 mr-2"/>
        <label for="searchKeywords" style="margin: auto">Keywords</label>
    </span>
        <div class="dropdown no-padding mr-2">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                View
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown dropdown-sub dropdown-item dropleft">
                    <button class="btn dropdown-toggle" type="button"
                            id="dropdownMenuButtonSize" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Size
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSize">
                        <a class="dropdown-item" onclick="showSizeConnections();"
                           href="javascript:void(0);">Connections</a>
                        <a class="dropdown-item" onclick="showSizeCitations();"
                           href="javascript:void(0);">Citations</a>
                    </div>
                </div>
                <div class="dropdown-sub dropdown-item dropleft">
                    <button class="btn dropdown-toggle" type="button"
                            id="dropdownMenuButtonColor" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Color
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonColor">
                        <a class="dropdown-item" onclick="showColorTopics();"
                           href="javascript:void(0);">Topic</a>
                        <a class="dropdown-item" onclick="showColorYear();"
                           href="javascript:void(0);">Year</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-secondary mr-3" content="About"
           href="javascript:void(0);" onclick="startIntro();">About</a>
    </div>
</nav>
<div class="container-fluid parent">
    <div class="row">
        <div class="col-12">
            <div class="float-right vertical-center">
                <div class="form-group mt-3" style="z-index: 10">
                    <input id="slider" type="range" class="custom-range" min="0" max="100" step="1" value="0"
                           onChange="sliderRange()">
                    <label id="slider-label" for="slider">Min connections</label>
                </div>
            </div>
        </div>
    </div>

    <div id="cy" role="main" style="height: 85vh; margin-bottom: 2rem">Loading...</div>
</div>
<footer class="container">
    <div class="row">
        <div class="col-4">
            <div id="feedback-graph-html-form" class="float-left vertical-center"></div>
        </div>
        <div class="col-4">
            <p>version <a href="https://github.com/JetBrains-Research/pubtrends/blob/master/CHANGES.md"
                          title="{{ version }}"
                          target="_blank">{{ version }}</a><br/>
                &copy; 2021-2025 <a href="https://research.jetbrains.org/groups/biolabs"
                                    title="JetBrains Research BioLabs"
                                    target="_blank">JetBrains Research</a>
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</footer>
<script type="text/javascript">
    function startIntro() {
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    intro:
                        "Papers graph represents similarity among papers.<br>" +
                        "Paper size represents \"importance\" of the paper.<br>" +
                        "Edge color reflects major similarity type:<br>" +
                        "Edge color reflects major similarity type:<br>" +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:rgba(46,204,113,0.5);"/></svg>' +
                        "&nbsp;<em>co-citations</em>, " +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:rgba(155,89,182,0.5);"/></svg>' +
                        "&nbsp;<em>common references</em>, " +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:rgba(52,152,219,0.5);"/></svg>' +
                        "&nbsp;<em>citations</em>, " +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:rgba(189,195,199,0.5);"/></svg>' +
                        "&nbsp;<em>text similarity</em>."
                },
                {
                    element: '#result',
                    intro:
                        "Open full analysis report.<br>" +
                        "Learn more about topics, most cited papers, etc."
                },
                {
                    element: '#search-input',
                    intro: 'Search papers containing text in title, abstracts, etc.'
                },
                {
                    element: '#dropdownMenuButton',
                    intro:
                        'Change graph view.<br>' +
                        'Size shows paper connections or number of citations.<br>' +
                        'Color represent topic or publication year.<br>' +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:#000000;"/></svg> min - ' +
                        '<svg width="16" height="16"><rect width="16" height="16" style="fill:#00FF00;"/></svg> max'
                },
                {
                    element: '#slider',
                    intro: 'Filter papers by minimal number of connections or citations.'
                },
                {
                    intro:
                        "See more information about paper or connection on mouse hover, including full abstract text.<br>" +
                        "Selected paper is highlighted with the most similar papers.<br>" +
                        "Click on a paper to navigate to the dedicate paper page.<br>" +
                        "Press <strong>F</strong> to freeze the paper selection, <strong>Escape</strong> to unfreeze."
                }
            ]
        });
        intro.start();
    }
</script>
</body>
</html>