<!DOCTYPE html>
<head>
    <title>PubTrends - Scientific Literature Explorer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--    <link rel="stylesheet" href="../static/style.css" />-->

    <!-- IntroJS feature tour -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css"
          integrity="sha256-OYXGS5m4oWZAAqoAKpf7Y3bIdzdd9jBfly/xCavEpGw=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"
            integrity="sha256-SPZP/x8QDPEhRlpJjet4AD5X4ergPWcxjhMn73SwyOE="
            crossorigin="anonymous"></script>

    <script>
        'use strict';
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        $(document).ready(function () {
            $('#search-source-selector').change(function() {
                const noreviews_checkbox = $("#noreviews");
                const expand_field = $("#expand");
                if ($(this).val() === "Semantic Scholar") {
                    noreviews_checkbox.prop("checked", false);
                    noreviews_checkbox.attr("disabled", "disabled");
                    expand_field.val(0);
                    expand_field.prop("readonly", true);
                } else {
                    noreviews_checkbox.prop("checked", true);
                    noreviews_checkbox.removeAttr("disabled")
                    expand_field.val(20);
                    expand_field.prop("readonly", false);
                }
            });
        });
    </script>
</head>
<body>
<div class="container mt-3">
    <div class="jumbotron border-light">
        <h1>PubTrends</h1>
        <p class="lead">
           Scientific literature explorer
        </p>
        <p>
            Find publications by search query, view most cited papers, explore research topics and trends,<br>
            analyze frequent keywords, and visualize graphs of citations and similar papers network.<br>
            Explore similar papers, important prior, and derivative works for the paper of interest.<br>
        </p>
        <p>
            <a id="tour-start" class="btn btn-light mr-1"
               href="javascript:void(0);" onclick="startIntro();">Take a tour</a>
            <a class="btn btn-light"
               href="about.html"
               target="_blank" role="button">About</a>
        </p>
    </div>
    <main class="card border-light mt-3" role="main">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                <li id="step1" class="nav-item">
                    <a class="nav-link active grey" id="topic-tab" data-toggle="tab" href="#topic"
                       role="tab"
                       aria-controls="topic" aria-selected="true">Search</a>
                </li>
                <li id="step1-2" class="nav-item">
                    <a class="nav-link grey" id="paper-tab" data-toggle="tab" href="#paper"
                       role="tab"
                       aria-controls="paper" aria-selected="false">Paper</a>
                </li>
                <li id="step1-3" class="nav-item">
                    <a class="nav-link grey" id="papers-tab" data-toggle="tab" href="#papers"
                       role="tab"
                       aria-controls="paper" aria-selected="false">List of papers</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <!-- Form for Search -->
                <div class="tab-pane fade show active" id="topic" role="tabpanel"
                     aria-labelledby="topic-tab">
                    <form action="search_terms" method="POST" class="mb-2 needs-validation" novalidate>
                        <div class="row no-gutters align-items-center">
                            <div id="step2" class="col input-group mr-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="query-addon">Query</span>
                                </div>
                                <input class="form-control form-control-borderless" type="search"
                                       name="query" id="terms-input"
                                       placeholder="{{min_words_message}}Use double quotes for phrase search, join queries by commas."
                                       aria-describedby="query-addon"
                                       autofocus required>
                            </div>
                            <!--end of col-->
                            <div id="step4" class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                        <div class="mt-3 row no-gutters align-items-center">
                            <div class="col-4 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="search-source-addon">Database</span>
                                </div>
                                <select id="search-source-selector" class="form-control" name="source"
                                        aria-describedby="search-source-addon">
                                    {% if pm_enabled %}
                                    <option>Pubmed</option>
                                    {% endif %}
                                    {% if ss_enabled %}
                                    <option>Semantic Scholar</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a id="step3" class="link" data-toggle="collapse" href="#collapseSearchAdvanced"
                               role="button" aria-expanded="false">
                                <small>Advanced settings</small>
                            </a>
                        </div>
                        <div id="collapseSearchAdvanced" class="collapse mt-2">
                            <div class="row no-gutters align-items-center">
                                <div class="col input-group mr-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sort-addon">Sort By</span>
                                    </div>
                                    <select class="form-control" name="sort"
                                            aria-describedby="sort-addon">
                                        <option>Most Cited</option>
                                        <option>Most Recent</option>
                                    </select>
                                </div>
                                <div class="col input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="amount-addon">Search</span>
                                    </div>
                                    <select class="form-control" aria-describedby="amount-addon"
                                            name="limit">
                                        {% for limit in limits %}
                                        {% if limit == default_limit %}
                                        <option selected>{{ limit }}</option>
                                        {% else %}
                                        <option>{{ limit }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text">papers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters align-items-center mt-2">
                                <div class="col input-group mr-2">
                                    <label style="margin-top: auto;margin-bottom: auto">
                                        <input type="checkbox" checked="checked" name="noreviews" id="noreviews">
                                        <span class="checkmark">Prefer no reviews</span>
                                    </label>
                                </div>
                                <div class="col input-group d-flex align-items-center mr-2">
                                    <label for="expand" class="mr-1" style="margin-top: auto;margin-bottom: auto">
                                        Expand by references %
                                    </label>
                                    <input id="expand" name="expand" class="form-control" type="number"
                                           min="0" max="100" step="10" value="20"/>
                                </div>
                                <div class="col input-group">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Preprocessed example -->
                    {{ search_example_message }}<br>
                    <div id="predefined" class="row ml-1">
                        {% for terms, hash in search_example_terms %}
                        <form action="result" method="GET" class="inline">
                            <input type="hidden" name="source" value="{{ search_example_source }}">
                            <input type="hidden" name="sort" value="Most Cited">
                            <input type="hidden" name="limit" value="{{ default_limit }}">
                            {% if search_example_source == "Semantic Scholar" %}
                                <input type="hidden" name="noreviews" value="off">
                                <input type="hidden" name="expand" value="0">
                            {% else %}
                                <input type="hidden" name="noreviews" value="on">
                                <input type="hidden" name="expand" value="20">
                            {% endif %}
                            <input type="hidden" name="jobid" value="predefined_{{ hash }}">
                            <button type="submit" name="query" value="{{ terms }}"
                                    class="btn btn-sm btn-outline-secondary mt-2 mr-2"
                                    style="border-radius: 10px;">
                                {{ terms }}
                            </button>
                        </form>
                        {% endfor %}
                    </div>
                </div>

                <!-- Form for Paper -->
                <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper-tab">
                    <form action="search_paper" method="POST" class="needs-validation" novalidate>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto mr-2">
                                <select id="paper-key" class="form-control" name="key" required>
                                    <option disabled></option>
                                    <option value="title">Title</option>
                                    <option value="doi">DOI</option>
                                    <option value="id">ID</option>
                                </select>
                            </div>
                            <div class="col-auto mr-2">
                                <input class="form-control form-control-borderless" type="search"
                                       name="value" id="paper-input"
                                       placeholder="Enter paper details"
                                       aria-describedby="query-addon"
                                       autofocus
                                       required>
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                        <div class="mt-3 row no-gutters align-items-center">
                            <div class="col-4 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="paper-source-addon">Database</span>
                                </div>
                                <select class="form-control" name="source"
                                        aria-describedby="paper-source-addon">
                                    {% if pm_enabled %}
                                    <option>Pubmed</option>
                                    {% endif %}
                                    {% if ss_enabled %}
                                    <option>Semantic Scholar</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a class="link" data-toggle="collapse" href="#collapsePaperAdvanced"
                               role="button" aria-expanded="false">
                                <small>Advanced settings</small>
                            </a>
                        </div>
                        <div id="collapsePaperAdvanced" class="collapse mt-2">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="paper-amount-addon">Search</span>
                                    </div>
                                    <select class="form-control" aria-describedby="amount-addon"
                                            name="limit">
                                        {% for limit in limits %}
                                        {% if limit == default_limit %}
                                        <option selected>{{ limit }}</option>
                                        {% else %}
                                        <option>{{ limit }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text">papers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Form for Mutliple Papers -->
                <div class="tab-pane fade" id="papers" role="tabpanel" aria-labelledby="papers-tab">
                    <form action="search_list" method="POST" class="needs-validation" novalidate>
                        <div class="row no-gutters align-items-center">
                            <div class="col input-group mr-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="ids-addon">IDs</span>
                                </div>
                                <input class="form-control form-control-borderless" type="search"
                                       name="list" id="papers-input"
                                       placeholder="Enter list of paper ids. Maximum {{ max_papers }} papers."
                                       aria-describedby="ids-addon"
                                       autofocus
                                       required>
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                        <div class="mt-3 row no-gutters align-items-center">
                            <div class="col-4 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="papers-source-addon">Database</span>
                                </div>
                                <select class="form-control" name="source"
                                        aria-describedby="papers-source-addon">
                                    {% if pm_enabled %}
                                    <option>Pubmed</option>
                                    {% endif %}
                                    {% if ss_enabled %}
                                    <option>Semantic Scholar</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy; 2021 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>

<script type="text/javascript">
    function startIntro() {
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    intro: "Welcome to PubTrends!<br>" +
                        "This quick tutorial will guide you through the features."
                },
                {
                    element: '#step1',
                    intro: "Proceed with the <em>Search</em> tab to search papers in database, " +
                        "find most cited papers, explore topics and trends, analyze quantitative " +
                        "features, visualize graphs of citations and papers similarity."
                },
                {
                    element: '#step1-2',
                    intro: "Use the <em>Paper</em> tab to find most cited similar papers, important prior, " +
                        "and derivative works for the paper of interest. Search by DOI, title name and id is supported."
                },
                {
                    element: '#step1-3',
                    intro: "Use the <em>List of papers</em> tab to analyze papers by given list of ids.<br>" +
                        "Ids should be separated by commas, semicolons, spaces or newlines."
                },
                {
                    element: '#step2',
                    intro: "Enter search query to define the research area of interest.<br>" +
                        "{{min_words_message}}Use double quotes for phrase search, join queries by commas."
                },
                {
                    element: '#step3',
                    intro: "Additionally configure:" +
                        "<ul>" +
                        "<li><em>Sort by</em>: papers ranking - most cited or most recent</li>" +
                        "<li><em>Search</em>: number of papers to look for</li>" +
                        "<li><em>Prefer no reviews</em>: ignore review papers in the search phase</li>" +
                        "<li><em>Expand %</em>: fraction of paper covered by references</li>" +
                        "</ul>"
                },
                {
                    element: '#step4',
                    intro: "Click the <em>Search</em> button!<br>" +
                        "You will be redirected automatically to a results page once analysis is complete.<br>" +
                        "Click <em>About</em> button to learn about results."
                },
                {
                    element: '#predefined',
                    intro: "Or try one of precomputed examples."
                }
            ]
        });

        intro.start();
    }
</script>

</body>
</html>