<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - Your Scientific Literature Explorer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--    <link rel="stylesheet" href="../static/style.css" />-->

    <script>
        'use strict';
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        $(document).ready(function () {
            const noreviews_checkbox = $("#noreviews");

            function advanced_noreviews_disable() {
                noreviews_checkbox.prop("checked", false);
                noreviews_checkbox.attr("disabled", "disabled");
            }

            function advanced_noreviews_enable() {
                noreviews_checkbox.removeAttr("disabled")
            }

            $('#search-source-selector').change(function () {
                if ($(this).val() === "Semantic Scholar") {
                    advanced_noreviews_disable();
                    $("#pubmed-syntax-div").hide();
                    $("#pubmed-syntax").prop("checked", false);
                    $("#search-input-field").prop("placeholder", "Use double quotes for phrase search, semicolon to join queries.");
                } else {
                    advanced_noreviews_enable();
                    $("#pubmed-syntax-div").show();
                }
            });
            $("#pubmed-syntax").change(function () {
                let $sort = $("#sort-selector");
                if ($("#pubmed-syntax").prop("checked") === true) {
                    $("#search-input-field").prop("placeholder", "Use Pubmed search syntax.");
                    advanced_noreviews_disable();
                    $sort.empty(); // remove old options
                    $sort.append($("<option>Most Relevant</option>"));
                    $sort.append($("<option>Most Recent</option>"));
                } else {
                    $("#search-input-field").prop("placeholder", "Use double quotes for phrase search, join queries by commas.");
                    advanced_noreviews_enable();
                    $sort.empty(); // remove old options
                    $sort.append($("<option>Most Cited</option>"));
                    $sort.append($("<option>Most Recent</option>"));
                }
            });
        });
    </script>
</head>
<body>
<div class="container mt-3">
    <div class="p-5 mb-4 bg-light rounded-3 border-light jumbotron">
        <div class="container-fluid py-5">
            <h1>PubTrends</h1>
            <p id="jumbotron" class="lead">
                Your Scientific Literature Explorer
            </p>
            <p>
                Discover publications, top-cited papers, research trends, and frequent keywords.<br>
                Visualize citation networks, explore similar papers, and analyze related works for papers
                of interest.<br>
                <a class="link" href="about.html">Learn more</a>
            </p>
        </div>
    </div>
    <main class="card border-light mt-3" role="main">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                <li id="step1" class="nav-item">
                    <a class="nav-link active grey" id="topic-tab" data-bs-toggle="tab" href="#topic"
                       role="tab"
                       aria-controls="topic" aria-selected="true">Search</a>
                </li>
                <li id="step1-2" class="nav-item">
                    <a class="nav-link grey" id="paper-tab" data-bs-toggle="tab" href="#paper"
                       role="tab"
                       aria-controls="paper" aria-selected="false">Paper</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <!-- Form for Search -->
                <div class="tab-pane fade show active" id="topic" role="tabpanel"
                     aria-labelledby="topic-tab">
                    <form action="search_terms" method="POST" class="mb-2 needs-validation" novalidate>
                        <div class="row g-0 align-items-center">
                            <div id="step2" class="col input-group mr-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="query-addon">Query</span>
                                </div>
                                <input id="search-input-field" class="form-control form-control-borderless"
                                       type="search"
                                       name="query"
                                       placeholder="Use double quotes for phrase search, join queries by commas."
                                       aria-describedby="query-addon"
                                       autofocus required>
                            </div>
                            <!--end of col-->
                            <div id="step4" class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                        <div class="mt-3 row g-0 align-items-center">
                            <div id="step2-2" class="col-6 input-group mr-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="search-source-addon">Database</span>
                                </div>
                                <select id="search-source-selector" class="form-control" name="source"
                                        aria-describedby="search-source-addon">
                                    {% if pm_enabled %}
                                    <option>Pubmed</option>
                                    {% endif %}
                                    {% if ss_enabled %}
                                    <option>Semantic Scholar</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a id="step3" class="link" data-bs-toggle="collapse" href="#collapseSearchAdvanced"
                               role="button" aria-expanded="false">
                                <small>Advanced settings</small>
                            </a>
                        </div>
                        <div id="collapseSearchAdvanced" class="collapse mt-4 mb-4">
                            <div id="pubmed-syntax-div" class="input-group mt-2 mb-2 mr-2">
                                <label style="margin-top: auto;margin-bottom: auto">
                                    <input type="checkbox" name="pubmed-syntax" id="pubmed-syntax">
                                    <span class="checkmark">Use Pubmed syntax</span>
                                </label>
                            </div>
                            <div class="row g-0 align-items-center">
                                <div class="col input-group mr-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sort-addon">Sort By</span>
                                    </div>
                                    <select id="sort-selector" class="form-control" name="sort"
                                            aria-describedby="sort-addon">
                                        <option>Most Cited</option>
                                        <option>Most Recent</option>
                                    </select>
                                </div>
                                <div class="col input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="amount-addon">Limit</span>
                                    </div>
                                    <select class="form-control" aria-describedby="amount-addon"
                                            name="limit">
                                        {% for limit in limits %}
                                        {% if limit == default_limit %}
                                        <option selected>{{ limit }}</option>
                                        {% else %}
                                        <option>{{ limit }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text">papers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0 align-items-center mt-2">
                                <div class="col input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="topics-addon">Topics number</span>
                                    </div>
                                    <select class="form-control" aria-describedby="topics-addon" name="topics">
                                        {% for topics in topics_variants %}
                                        {% if topics == default_topics %}
                                        <option selected>{{ topics }}</option>
                                        {% else %}
                                        <option>{{ topics }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="noreviews-div" class="col input-group ml-2 mt-2 mb-2 mr-2">
                                    <label style="margin-top: auto;margin-bottom: auto">
                                        <input type="checkbox" name="noreviews" id="noreviews" checked>
                                        <span class="checkmark">
                                            Prefer no reviews</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row g-0 align-items-center mt-2">
                                <div class="col input-group mr-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="min-year-addon">Min year</span>
                                    </div>
                                    <input type="number" class="form-control" aria-describedby="min-year-addon" 
                                           name="min_year" placeholder="Optional" min="1800" max="2100">
                                </div>
                                <div class="col input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="max-year-addon">Max year</span>
                                    </div>
                                    <input type="number" class="form-control" aria-describedby="max-year-addon" 
                                           name="max_year" placeholder="Optional" min="1800" max="2100">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Preprocessed example -->
                    {{ search_example_message }}<br>
                    <div id="predefined" class="row ml-1">
                        {% for terms, jobid in search_example_terms %}
                        <form action="result" method="GET" class="inline">
                            <input type="hidden" name="source" value="{{ search_example_source }}">
                            <input type="hidden" name="sort" value="Most Cited">
                            <input type="hidden" name="topics" value="{{ default_topics }}">
                            <input type="hidden" name="limit" value="{{ default_limit }}">
                            <input type="hidden" name="noreviews" value="on">
                            <input type="hidden" name="min_year" value="on">
                            <input type="hidden" name="max_year" value="on">
                            <input type="hidden" name="jobid" value="{{ jobid }}">
                            <button type="submit" name="query" value="{{ terms }}"
                                    class="btn btn-sm btn-outline-secondary mt-2 mr-2"
                                    style="border-radius: 10px;">
                                {{ terms }}
                            </button>
                        </form>
                        {% endfor %}
                    </div>
                </div>

                <!-- Form for Paper -->
                <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper-tab">
                    <form action="search_paper" method="POST" class="needs-validation" novalidate>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto mr-2">
                                <select id="paper-key" class="form-control" name="key" required>
                                    <option value="title">Title</option>
                                    <option value="doi">DOI</option>
                                    <option value="id">ID</option>
                                </select>
                            </div>
                            <div class="col mr-2">
                                <input class="form-control form-control-borderless" type="search"
                                       name="value" id="paper-input"
                                       placeholder="Enter paper(s) details, e.g. DOI, ID, or title. Use semicolon to separate multiple papers."
                                       aria-describedby="query-addon"
                                       autofocus
                                       required>
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                        <div class="mt-3 row g-0 align-items-center">
                            <div class="col-6 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="paper-source-addon">Database</span>
                                </div>
                                <select class="form-control" name="source"
                                        aria-describedby="paper-source-addon">
                                    {% if pm_enabled %}
                                    <option>Pubmed</option>
                                    {% endif %}
                                    {% if ss_enabled %}
                                    <option>Semantic Scholar</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a class="link" data-bs-toggle="collapse" href="#collapsePaperAdvanced"
                               role="button" aria-expanded="false">
                                <small>Advanced settings</small>
                            </a>
                        </div>
                        <div id="collapsePaperAdvanced" class="collapse mt-4">
                            <div class="row g-0 align-items-center">
                                <div class="col input-group mr-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="paper-amount-addon">Limit</span>
                                    </div>
                                    <select class="form-control" aria-describedby="amount-addon"
                                            name="limit">
                                        {% for limit in limits %}
                                        {% if limit == default_limit %}
                                        <option selected>{{ limit }}</option>
                                        {% else %}
                                        <option>{{ limit }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text">papers</span>
                                    </div>
                                </div>
                                <div class="col input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="paper-topics-addon">Topics number</span>
                                    </div>
                                    <select class="form-control" aria-describedby="paper-topics-addon" name="topics">
                                        {% for topics in topics_variants %}
                                        {% if topics == default_topics %}
                                        <option selected>{{ topics }}</option>
                                        {% else %}
                                        <option>{{ topics }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row g-0 align-items-center mt-2">
                                <div class="col input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="expand-addon">Expand steps</span>
                                    </div>
                                    <select class="form-control" aria-describedby="expand-addon" name="expand">
                                        {% for expand in expand_variants %}
                                        {% if expand == default_expand %}
                                        <option selected>{{ expand }}</option>
                                        {% else %}
                                        <option>{{ expand }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col input-group ml-2 mt-2 mb-2 mr-2">
                                    <label style="margin-top: auto;margin-bottom: auto">
                                        <input type="checkbox" name="noreviews" checked>
                                        <span class="checkmark">Prefer no reviews</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="container text-center">
    <p>version <a href="https://github.com/JetBrains-Research/pubtrends/blob/master/CHANGES.md" title="{{ version }}"
                  target="_blank" class="a-footer">{{ version }}</a><br/>
        &copy; 2021-2025 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank" class="a-footer">JetBrains Research</a></p>
</footer>

</body>
</html>
