<!DOCTYPE html>
<html>
<head>
    <title>{{ trimmed_title }} - PubTrends</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"
            crossorigin="anonymous"></script>
    <!-- DataTables with search -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" type="text/css">
    <!-- DataTables search highlight -->
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
    <link href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css"
          type="text/css">

    <!-- IntroJS feature tour -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css"
          integrity="sha256-OYXGS5m4oWZAAqoAKpf7Y3bIdzdd9jBfly/xCavEpGw=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"
            integrity="sha256-SPZP/x8QDPEhRlpJjet4AD5X4ergPWcxjhMn73SwyOE="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/style.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/result.css"/> -->

    <!-- Notify.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='feedback.js') }}"></script>
    <!--    <script src="../static/feedback.js"/>-->

    <script>
        "use strict";
        $(document).ready(function() {
            // Mark search by default in datatables
            $.extend(true, $.fn.dataTable.defaults, {
                mark: true
            });

            // Setup datatables
            {% if related_topics is defined %}
                $('#related_topics').DataTable();
            {% endif %}
            {% if prior_papers is defined %}
                $('#prior_papers').DataTable();
            {% endif %}
            {% if derivative_papers is defined %}
                $('#derivative_papers').DataTable();
            {% endif %}
            {% if similar_papers is defined %}
                $('#similar_papers').DataTable();
            {% endif %}

            // Configure jobid for feedback
            // Decode jobid from URL
            const jobid = new URL(window.location).searchParams.get('jobid');
            $('#feedback-jobid').val(jobid);

            setTimeout(function() {
                $.notify("See About for quick introduction.", {
                    className: "success",
                    position: "bottom right",
                    autoHideDelay: 15000
                });
            }, 5000);
        });

        function result() {
            const url = '/result?query=' + escape('{{ title }}') + '&source={{source}}&limit=related&sort=papers';
            // Decode jobid from URL
            const jobid = new URL(window.location).searchParams.get('jobid');
            window.open(url + '&jobid=' + jobid, '_blank');
        }

        function graph_callback(graphType) {
            const url = '/graph?query=' + escape('{{ title }}') + '&source={{source}}&limit=related&sort=papers';
            // Decode jobid from URL
            const jobid = new URL(window.location).searchParams.get('jobid');
            window.open(url + '&type=' + graphType + '&jobid=' + jobid, '_blank');
        }

    </script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom no-padding-right">
    <div class="row container-fluid no-padding-right">
        <div class="col-lg-1 col-xl-2 no-padding">
            <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
        </div>
        <div class="col-lg-11 col-xl-8 no-padding-left">
            <div class="content no-padding-left">
                <a id="result" href="javascript:void(0);" class="link vertical-center" onclick="result();">
                    Explore related papers
                </a>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-2 float-right no-padding-right">
            <a id="tour-start" class="btn btn-secondary float-right"
               href="javascript:void(0);" onclick="startIntro();">About</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row ">
        <!-- Sticky sidebar -->
        <nav class="d-none d-xl-block d-lg-block col-lg-1 col-xl-2 sidebar no-padding">
        <div class="sidebar-sticky" id="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#paper" title="Paper">
                        <img class="nav-icon" src="{{ url_for('static', filename='home.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#paper">
                        Paper
                    </a>
                </li>
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#citations" title="Citations">
                        <img class="nav-icon" src="{{ url_for('static', filename='bar-chart-2.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#citations">
                        Citations
                    </a>
                </li>

                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#network" title="Si">
                        <img class="nav-icon" src="{{ url_for('static', filename='globe.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#network">
                        Network
                    </a>
                </li>

                {% if similar_papers is defined %}
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#similar" title="Similar Papers">
                        <img class="nav-icon" src="{{ url_for('static', filename='pause.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#similar">
                        Similar Papers
                    </a>
                </li>
                {% endif %}

                {% if prior_papers is defined %}
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#prior" title="Prior Papers">
                        <img class="nav-icon" src="{{ url_for('static', filename='rewind.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#prior">
                        Prior Papers
                    </a>
                </li>
                {% endif %}

                {% if derivative_papers is defined %}
                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#derivative" title="Derivative Papers">
                        <img class="nav-icon" src="{{ url_for('static', filename='fast-forward.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#derivative">
                        Derivative Papers
                    </a>
                </li>
                {% endif %}

                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#related" title="Topics Info">
                        <img class="nav-icon" src="{{ url_for('static', filename='tag.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#related">
                        Topics Info
                    </a>
                </li>

                <li class="nav-item row">
                    <a class="nav-link no-padding-right" href="#feedback" title="Feedback">
                        <img class="nav-icon" src="{{ url_for('static', filename='edit.svg') }}"/>
                    </a>
                    <a class="nav-link d-none d-xl-block no-padding" href="#feedback">
                        Feedback
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main content -->
    <main class="col-lg-10 col-xl-8" role="main">
        <div class="content">
            <div class="card mt-3">
                <div class="card-title" id="paper">
                    <h1 class="card-header">Paper</h1>
                </div>
                <div class="card-body">
                    <div>
                        <h2 class="paper-title">{{ title }}</h2>
                        <em>{{ authors }}</em><br>
                        <!-- Generate info about publication year and journal-->
                        {% if journal != "" %}
                            {{journal}}
                        {% endif %}
                        {% if year != "None" %}
                            {{year}}
                        {% endif %}
                        {% if doi != "" %}
                            <br>
                            <a class="link" href="https://doi.org/{{doi}}">doi:{{doi}}</a>
                        {% endif %}
                        <br>
                        <a class="link" href="{{ url }}">Open in {{ source }}</a>
                        {% if mesh != "" %}
                        <br>Mesh: {{mesh}}
                        {% endif %}
                        {% if keywords != "" %}
                        <br>Keywords: {{keywords}}
                        {% endif %}
                        {% if abstract is defined %}
                            <h5 class="card-subtitle mt-3">Abstract</h5>
                            <p class="mt-2">{{ abstract }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-title" id="citations">
                    <h1 class="card-header">Citations</h1>
                </div>
                <div class="card-body">
                    <div>
                        {% for script, div in citation_dynamics %}
                        {{ script|safe }}
                        {{ div|safe }}
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <small class="text-muted">Was this useful?</small>
                        <div id="paper-feedback-citations" class="btn-group-horizontal">
                            <button type="button" class="btn btn-sm btn-feedback-yes"
                                    onclick="feedback(this, 1)">
                                <img src="{{ url_for('static', filename='smile.svg') }}" alt="Yes"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-meh"
                                    onclick="feedback(this, 0)">
                                <img src="{{ url_for('static', filename='meh.svg') }}" alt="Not sure"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-no"
                                    onclick="feedback(this, -1)">
                                <img src="{{ url_for('static', filename='frown.svg') }}" alt="No"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-title" id="network">
                    <h1 class="card-header">Network</h1>
                </div>
                <div class="card-body">
                    <p>
                        Explore references for the paper of interest on the citations graph.
                    </p>
                    <button id="show_citations_graph" type="button" class="btn btn-light"
                            onclick="(function(){ graph_callback('citations') })();">
                        Show citations graph
                    </button>
                    <hr>
                    <p>
                        Similarity between papers is computed based on <em>bibliographic coupling</em>,
                        <em>co-citations</em>,<br>
                        <em>direct citations</em>, and <em>potential</em> citations based on text similarity.
                        <br>
                        Explore papers network, where similar papers are located together and connected.
                    </p>
                    <button id="show_similarity_graph" type="button" class="col-auto btn btn-light"
                            onclick="(function(){ graph_callback('structure') })();">
                        Show similarity graph
                    </button>
                    <div class="mt-3">
                        <small class="text-muted">Was this useful?</small>
                        <div id="paper-feedback-network" class="btn-group-horizontal">
                            <button type="button" class="btn btn-sm btn-feedback-yes"
                                    onclick="feedback(this, 1)">
                                <img src="{{ url_for('static', filename='smile.svg') }}" alt="Yes"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-meh"
                                    onclick="feedback(this, 0)">
                                <img src="{{ url_for('static', filename='meh.svg') }}" alt="Not sure"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-no"
                                    onclick="feedback(this, -1)">
                                <img src="{{ url_for('static', filename='frown.svg') }}" alt="No"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% if similar_papers is defined %}
            <div class="card mt-3">
                <div class="card-title" id="similar">
                    <h1 class="card-header">Similar Papers</h1>
                </div>
                <div class="card-body">
                    <p>
                        This section represents valuable papers, similar to the paper of interest.
                    </p>
                    <table id="similar_papers" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Similarity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, title, url, year, similarity in similar_papers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                    {{ title }}
                                </a>
                            </td>
                            <td>{{ year }}</td>
                            <td>{{ similarity }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="mt-3">
                        <small class="text-muted">Was this useful?</small>
                        <div id="paper-feedback-similar" class="btn-group-horizontal">
                            <button type="button" class="btn btn-sm btn-feedback-yes"
                                    onclick="feedback(this, 1)">
                                <img src="{{ url_for('static', filename='smile.svg') }}" alt="Yes"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-meh"
                                    onclick="feedback(this, 0)">
                                <img src="{{ url_for('static', filename='meh.svg') }}" alt="Not sure"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-no"
                                    onclick="feedback(this, -1)">
                                <img src="{{ url_for('static', filename='frown.svg') }}" alt="No"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if prior_papers is defined %}
            <div class="card mt-3">
                <div class="card-title" id="prior">
                    <h1 class="card-header">Prior Papers</h1>
                </div>
                <div class="card-body">
                    <p>
                        This section represents most valuable papers, cited by the paper of interest.
                    </p>
                    <table id="prior_papers" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, title, url, year in prior_papers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                    {{ title }}
                                </a>
                            </td>
                            <td>{{ year }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="mt-3">
                        <small class="text-muted">Was this useful?</small>
                        <div id="paper-feedback-prior" class="btn-group-horizontal">
                            <button type="button" class="btn btn-sm btn-feedback-yes"
                                    onclick="feedback(this, 1)">
                                <img src="{{ url_for('static', filename='smile.svg') }}" alt="Yes"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-meh"
                                    onclick="feedback(this, 0)">
                                <img src="{{ url_for('static', filename='meh.svg') }}" alt="Not sure"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-no"
                                    onclick="feedback(this, -1)">
                                <img src="{{ url_for('static', filename='frown.svg') }}" alt="No"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if derivative_papers is defined %}
            <div class="card mt-3">
                <div class="card-title" id="derivative">
                    <h1 class="card-header">Derivative Papers</h1>
                </div>
                <div class="card-body">
                    <p>
                        This section represents most valuable papers, citing the paper of interest.
                    </p>
                    <table id="derivative_papers" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, title, url, year in derivative_papers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                    {{ title }}
                                </a>
                            </td>
                            <td>{{ year }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="mt-3">
                        <small class="text-muted">Was this useful?</small>
                        <div id="paper-feedback-derivative" class="btn-group-horizontal">
                            <button type="button" class="btn btn-sm btn-feedback-yes"
                                    onclick="feedback(this, 1)">
                                <img src="{{ url_for('static', filename='smile.svg') }}" alt="Yes"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-meh"
                                    onclick="feedback(this, 0)">
                                <img src="{{ url_for('static', filename='meh.svg') }}" alt="Not sure"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-no"
                                    onclick="feedback(this, -1)">
                                <img src="{{ url_for('static', filename='frown.svg') }}" alt="No"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="card mt-3">
                <div class="card-title" id="related">
                    <h1 class="card-header">Topics Info</h1>
                </div>
                <div class="card-body">
                    <p>
                        Explore full related papers report
                        <a href="javascript:void(0);" class="link" onclick="result();">here</a>.
                    </p>
                    {% if related_topics is defined %}
                    <hr>
                    <p>
                        Number of similar papers topics in the field. Paper topic is #{{topic}}.</p>
                    <br>
                    <table id="related_topics" class="table table-sm table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Topic keywords</th>
                            <th scope="col">Similar papers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in related_topics %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <div class="mt-3">
                        <small class="text-muted">Was this useful?</small>
                        <div id="paper-feedback-related" class="btn-group-horizontal">
                            <button type="button" class="btn btn-sm btn-feedback-yes"
                                    onclick="feedback(this, 1)">
                                <img src="{{ url_for('static', filename='smile.svg') }}" alt="Yes"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-meh"
                                    onclick="feedback(this, 0)">
                                <img src="{{ url_for('static', filename='meh.svg') }}" alt="Not sure"/>
                            </button>
                            <button type="button" class="btn btn-sm btn-feedback-no"
                                    onclick="feedback(this, -1)">
                                <img src="{{ url_for('static', filename='frown.svg') }}" alt="No"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-title" id="feedback">
                    <h1 class="card-header">Feedback</h1>
                </div>
                <div class="card-body">
                    <p>
                        Please help us to make the service better!<br>
                        Use the form below to tell us more about you and your opinion about the service,<br>
                        or click instant feedback buttons to share your feelings about particular report section.<br>
                        Also you can optionally leave your email to contact you later.
                    </p>
                    <form name="feedback-form" action="feedback" method="POST">
                        <div class="form-group">
                            <label for="feedback-message">Message</label>
                            <textarea class="form-control" id="feedback-message" name="message"
                                      rows="5" maxlength="2000"
                                      aria-describedby="emailHelp"
                                      placeholder="Enter message"></textarea>
                            <small id="messageHelp" class="form-text text-muted">
                                Max length: 2000.</small>
                        </div>
                        <div class="form-group">
                            <label for="feedback-email">Email address</label>
                            <input type="email" class="form-control" id="feedback-email" name="email"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email"/>
                            <small id="emailHelp" class="form-text text-muted">
                                We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="feedback-jobid" name="jobid" value=""/>
                            <input type="hidden" class="form-control" name="type" value="result"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!--Right alignment-->
    <div class="d-none d-xl-block col-xl-2"></div>
</div>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy; 2019-2020 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>
<script type="text/javascript">
    function startIntro(){
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    intro: "This is a paper detailed report.<br>" +
                            "It contains citations dynamics, similar papers," +
                            " and most valuable prior and derivative works.<br>"
                },
                {
                    element: '#sidebar',
                    intro: "Results are organised into sections - different aspects of analysis."
                },
                {
                    element: '#paper',
                    intro: 'Detailed information about the paper.<br>' +
                        'Information about title, abstract, authors, journal and external references.'
                },
                {
                    element: '#result',
                    intro: 'Explore related papers and topics full analysis report.'
                },
                {
                    element: '#citations',
                    intro: 'Citations dynamics. Show all indexed citations of the paper.'
                },
                {
                    element: '#network',
                    intro: 'Explore paper similarity network.'
                },
                {
                    element: '#similar',
                    intro: 'This section demonstrates most important similar works.'
                },
                {
                    element: '#prior',
                    intro: 'This section demonstrates most important prior works.'
                },
                {
                    element: '#derivative',
                    intro: 'This section demonstrates most important derivative works.'
                },
                {
                    element: '#related',
                    intro: 'Learn more about related topics, most cited papers, etc.'
                },
                {
                    element: '#feedback',
                    intro: "Please help us to improve the service!<br>" +
                        "Your feedback is very welcome."
                },
            ]
        });
        intro.start();
    }
</script>
</body>
</html>