<!DOCTYPE html>
<html>
<head>
    <title>{{query}} at {{source}} {{limit}} {{sort}}{{ search_string }} - PubTrends</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
    <!-- DataTables with search -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" type="text/css">
    <!-- DataTables search highlight -->
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
    <link href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css"
          type="text/css">

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--         <link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
    <!--         <link rel="stylesheet" href="../static/result.css"/>-->

    <script>
        "use strict";
        let table;
        $(document).ready(function () {
            // Mark search by default in datatables
            $.extend(true, $.fn.dataTable.defaults, {
                mark: true
            });

            table = $('#papers').DataTable();
        });

        function result() {
            const url = '/result?query=' + escape('{{ query }}') + '&source={{source}}&limit={{limit}}&sort={{sort}}';
            // Decode jobid from URL
            const jobid = new URL(window.location).searchParams.get('jobid');
            window.open(url + '&jobid=' + jobid, '_blank');
        }

        function process_text(text) {
            // numeric, ^ and $ are important here for exact match
            if (/^-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)$/.test(text)) {
                return text;
            }
            // href text processing
            if (/^<a (.|\n)*<\/a>$/.test(text)) {
                text = text.replace(/(<a [^>]*>)|(<\/a>)/g, "")
            }
            return '"' + text.trim().replace(/"/g, '""') + '"';
        }

        function export_to_csv() {
            let title = [];
            // Use this jquery API till DataTables 2.0 is out
            let i = 0;  // Columns counter
            let headerProcessed = false;
            $('#papers').find('tr').each(function () {
                if (headerProcessed) {
                    return;
                }
                $(this).find('th').each(function () {
                    if (headerProcessed) {
                        return;
                    }
                    // Ignore first index column
                    if (i === 0) {
                        i++;
                        return;
                    }
                    let text = $(this).text();
                    // jQuery DataTable inserts trailing columns 1, 2, 3, ...
                    // ignore them
                    if (text === "1") {
                        headerProcessed = true;
                        return;
                    }
                    title.push(text);
                    i++;
                });
            });
            title = title.join(",")

            let rows = [];
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                const data = table.row(rowIdx).data();
                const row = [];
                // Ignore first index column
                for (let c = 1; c < data.length; c++) {
                    row.push(process_text(data[c].toString()));
                }
                rows.push(row.join(","));
            });
            const csv = title + "\n" + rows.join("\n");

            // Initiate download action
            const uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
            const download_link = document.createElement('a');
            download_link.href = uri;
            download_link.download = "{{ export_name }}" + ".csv";
            document.body.appendChild(download_link);
            download_link.click();
            document.body.removeChild(download_link);
        }

    </script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom">
    <div class="row container-fluid">
        <div class="d-none d-xl-block d-lg-block col-lg-1 col-xl-1 no-padding"></div>
        <div class="col-lg-1 col-xl-1 no-padding">
            <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
        </div>
        <div class="col-lg-10 col-xl-10 no-padding">
            <ol class="breadcrumb bg-light search-query">
                <li class="breadcrumb-item">{{ source }}</li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);" class="link" onclick="result();"><strong>{{ query }}</strong></a>
                </li>
                <li class="breadcrumb-item">{{ limit }} {{ sort }}</li>
                {% if search_string %}
                <li class="breadcrumb-item">{{ search_string }}</li>
                {% endif %}
            </ol>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="d-none d-xl-block d-lg-block col-lg-1 col-xl-1 no-padding"></div>
        <main class="col-lg-10 col-xl-10" role="main">
            <div class="mt-3">
                <table id="papers" class="table table-sm table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Journal</th>
                        <th scope="col">Year</th>
                        <th scope="col">Id</th>
                        <th scope="col">Doi</th>
                        <th scope="col">Cited</th>
                        <th scope="col">Topic</tr>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, title, authors, url, journal, year, total, doi, topic in papers %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ title }}</td>
                        <td>{{ authors }}</td>
                        <td>{{ journal }}</td>
                        <td>{{ year }}</td>
                        <td><a class="link" href="{{ url }}" title="Open in {{ source }}">{{ id }}</a></td>
                        <td>
                            {% if doi != "" %}
                            <a class="link" href="https://doi.org/{{doi}}">{{ doi }}</a>
                            {% endif %}
                        </td>
                        <td>{{ total }}</td>
                        <td>{{ topic }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="mt-3 btn btn-primary" onclick="export_to_csv();">Export to CSV</button>
        </main>
        <div class="d-none d-xl-block d-lg-block col-lg-1 col-xl-1 "></div>
    </div>
</div>


<footer>
    <p>version {{ version }}<br/>
        &copy; 2019-2020 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>