<!DOCTYPE html>
<html>
<head>
    <title>{{query}} at {{source}}{{ search_string }} {{limit}} {{sort}} - PubTrends</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
<!--            <link rel="stylesheet" href="../static/style.css"/>-->

    <script>
        "use strict";

        window.onunload = function() {
            if (confirm('Leave the page? Task will be cancelled.')) {
                cancel();
            }
        };

        const TIMEOUT = 5000; // 5 seconds
        const MAX_RETRIES = 30;
        let retries = 0;
        let cancelled = false;
        let last_progress;
        let last_log_message;

        function check_status() {
            if (cancelled) {
                return;
            }
            $.ajax("{{url_for('.status', jobid=jobid)}}", {
                dataType: "json", success: function (response) {
                    console.log(response);
                    if (response.state === 'FAILURE') {
                        $('#progress').hide();
                        let errorMsg = `<h2>Error</h2><span class="error-message"> ${response.message} </span>`;
                        if (response.search_error) {
                            $('#status').html(errorMsg);
                        } else {
                            $('#status').html(errorMsg + `<br>We're working on it. Please check back soon.`)
                        }
                        $('#log').html(response.log);
                    } else if (response.state === 'PENDING') {
                        $('#status').html(response.message);
                        setTimeout(check_status, TIMEOUT);
                    } else if (response.state !== undefined) {
                        $('#status').hide();
                        $('#progress').show();
                        if (last_progress !== response.progress) {
                            $('.progress-bar').css('width', response.progress + '%').attr('aria-valuenow', response.progress);
                            $('.progress-bar-label').text(response.progress + '%');
                            last_progress = response.progress;
                        }
                        if (response.state === 'SUCCESS') {
                            // Join arg-value pairs for URL
                            var args = {{ redirect_args|safe }};
                            var args_list = [];
                            for (var key in args) {
                                args_list.push(`${key}=${args[key]}`);
                            }

                            // Build href for given redirect page and args
                            var href = `/{{ redirect_page }}?${args_list.join('&')}`;
                            window.location.replace(href);
                        } else {
                            if (last_log_message !== response.log) {
                                $('#log').html(response.log);
                                last_log_message = response.log;
                            }
                            setTimeout(check_status, TIMEOUT);
                        }
                    } else {
                        retries += 1;
                        if (retries > MAX_RETRIES) {
                            $('#progress').hide();
                            $('#status').html("<h2>Error</h2>Failed to fetch results.<br>We're working on it. Please check back soon.");
                        } else {
                            setTimeout(check_status, TIMEOUT);
                        }
                    }
                },
                error: function () {
                    $('#progress').hide();
                    $('#log').hide();
                    $('#status').html("<h2>Error</h2>We're working on it. Please check back soon.");
                },
                timeout: TIMEOUT * MAX_RETRIES
            });
        }

        function cancel() {
            cancelled = true;
            $.ajax("{{url_for('.cancel', jobid=jobid)}}", {
                dataType: "json", success: function (response) {
                    console.log(response);
                    if (response.state === 'CANCELLED') {
                        $('#status').html(response.message);
                        $('#log').empty();
                        setTimeout(function () {
                            window.location.replace("/");
                        }, TIMEOUT);
                    } else if (response.state === 'FAILURE') {
                        $('#progress').hide();
                        let errorMsg = `<h2>Error</h2><span class="error-message"> ${response.message} </span>`;
                        if (response.search_error) {
                            $('#status').html(errorMsg);
                        } else {
                            $('#status').html(errorMsg + `<br>We're working on it. Please check back soon.`)
                        }
                        $('#log').empty();
                        setTimeout(function () {
                            window.location.replace("/");
                        }, TIMEOUT);
                    }
                }
            });
        }

        $(function () {
            setTimeout(check_status, TIMEOUT);
        });
    </script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-light bg-light d-flex mt-3">
        <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
        <ol class="breadcrumb bg-light flex-grow-1 search-query">
            <li class="breadcrumb-item">{{ source }}</li>
            <li class="breadcrumb-item"><strong>{{ query }}</strong></li>
            <li class="breadcrumb-item">{{ limit }} {{ sort }}</li>
        </ol>
        <button class="btn btn-lg btn-link grey no-padding-left" type="reset" onclick="cancel()">&#10006;&nbsp;Cancel</button>
    </nav>
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="progress-bar-label">0%</span>
        </div>
    </div>
    <div class="h6 mt-3 ml-3" id="status">Waiting for content...</div>
    <pre class="ml-3" id="log"></pre>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy; 2019-2020 <a href="https://research.jetbrains.org/groups/biolabs"
                            title="JetBrains Research BioLabs"
                            target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>
