<!DOCTYPE html>
<html>
<head>
    <title>PubTrends - {{query}} at {{source}} {{limit}} {{sort}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
          rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/style.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}?v=1"/>
    <!--     <link rel="stylesheet" href="../static/result.css"/> -->
    <script>
        "use strict";

        let table;

        $(document).ready(function () {
            table = $('#result_review').DataTable();
        });

        function result() {

            const url = '/result?query={{query}}&source={{source}}&limit=related&sort=papers';
            // Decode jobid from URL
            const jobid = new URL(window.location).searchParams.get('jobid');
            window.open(url + '&jobid=' + jobid, '_blank');
        }

        function process_text(text) {
            // numeric, ^ and $ are important here for exact match
            if (/^-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)$/.test(text)) {
                return text;
            }
            // href text processing
            if (/^<a (.|\n)*<\/a>$/.test(text)) {
                text = text.replace(/(<a [^>]*>)|(<\/a>)/g, "")
            }
            return '"' + text.trim().replace(/"/g, '""') + '"';
        }

        function export_to_csv() {
            let title = [];
            // Use this jquery API till DataTables 2.0 is out
            let i = 0;  // Columns counter
            let headerProcessed = false;
            $('#result_review').find('tr').each(function () {
                if (headerProcessed) {
                    return;
                }
                $(this).find('th').each(function () {
                    if (headerProcessed) {
                        return;
                    }
                    // Ignore first index column
                    if (i === 0) {
                        i++;
                        return;
                    }
                    let text = $(this).text();
                    // jQuery DataTable inserts trailing columns 1, 2, 3, ...
                    // ignore them
                    if (text === "1") {
                        headerProcessed = true;
                        return;
                    }
                    title.push(text);
                    i++;
                });
            });
            title = title.join(",")

            let rows = [];
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                const data = table.row(rowIdx).data();
                const row = [];
                // Ignore first index column
                for (let c = 1; c < data.length; c++) {
                    row.push(process_text(data[c].toString()));
                }
                rows.push(row.join(","));
            });
            const csv = title + "\n" + rows.join("\n");

            // Initiate download action
            const uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
            const download_link = document.createElement('a');
            download_link.href = uri;
            download_link.download = "{{ export_name }}" + ".csv";
            document.body.appendChild(download_link);
            download_link.click();
            document.body.removeChild(download_link);
        }

    </script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom no-padding-right">
    <div class="row container-fluid no-padding-right">
        <div class="col-lg-1 col-xl-2 no-padding-left">
            <a id="pubtrends" class="navbar-brand" href="/">PubTrends</a>
        </div>
        <div class="col-lg-11 col-xl-10 no-padding-left no-padding-right">
            <div class="no-padding-left d-flex justify-content-between">
                <ol class="breadcrumb bg-light search-query">
                    <li class="breadcrumb-item vertical-center">{{ source }}</li>
                    <li class="breadcrumb-item vertical-center"><strong>{{ query }}</strong></li>
                    <li class="breadcrumb-item vertical-center">{{ limit }} {{ sort }}</li>
                </ol>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row ">
        <nav class="d-none d-xl-block d-lg-block col-lg-1 col-xl-2 sidebar no-padding">
        </nav>

        <!-- Main content -->
        <main class="col-lg-10 col-xl-8" role="main">
            <div class="content">
                <div class="card mt-3">
                    <div class="card-title" id="result-review">
                        <h1 class="card-header">Result review</h1>
                    </div>
                    <div class="card-body">
                        <p>
                            Review is a set of sentences from top cited papers with the highest probability to be
                            included in a real review.<br>
                            The higher score the better sentence.
                        </p>
                        <br>
                        <table id="result_review" class="table table-sm table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Paper</th>
                                <th scope="col">Year</th>
                                <th scope="col">Cited</th>
                                <th scope="col">Topic</th>
                                <th scope="col">Sentence</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for title, year, cited, topic, sent, url, score in review_array %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    <a class="link" href="{{ url }}" title="Open in {{ source }}">
                                        {{ title }}
                                    </a>
                                </td>
                                <td>{{ year }}</td>
                                <td>{{ cited }}</td>
                                <td>{{ topic }}</td>
                                <td>{{ sent }}</td>
                                <td>{{ score }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button type="button" class="mt-3 btn btn-primary" onclick="export_to_csv();">Export to CSV</button>
        </main>

        <!--Right alignment-->
        <div class="d-none d-xl-block col-xl-2"></div>
    </div>
</div>
<footer>
    <p>version {{ version }}<br/>
        &copy; 2021 <a href="https://research.jetbrains.org/groups/biolabs"
                       title="JetBrains Research BioLabs"
                       target="_blank">JetBrains Research</a></p>
</footer>
</body>
</html>